{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{category.name}}
{% endblock title %}

{% block content %}

    <!-- Page Heading
    ================================================== -->
    <div class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="page-heading__title">{{category.name}}</h1>
            <ol class="page-heading__breadcrumb breadcrumb">
              <li><a href="{% url "articles:index" %}">Home</a></li>
              <li class="active">{{category.name}}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="site-content">
      <div class="container">

        <div class="row">
          <!-- Content -->
          <div class="content col-md-8">

            <!-- Posts Grid -->
            <div class="posts posts--cards post-grid post-grid--2cols post-grid--fitRows row">
              {% for each in posts %}
                <div class="post-grid__item col-xs-6">
                  <div class="posts__item posts__item--card posts__item--category-1 card">
                    <figure class="posts__thumb">
                      <div class="posts__cat">
                        <span class="label posts__cat-label">{{each.category.name}}</span>
                      </div>
                      <a href="{% url "articles:post" each.pk each.title|slugify %}"><img src="{{each.introImage.url}}" alt=""></a>
                    </figure>
                    <div class="posts__inner card__content">
                      <a href="#" class="posts__cta"></a>
                      <time datetime="2017-08-23" class="posts__date">{{each.date_added}}</time>
                      <h6 class="posts__title"><a href="{% url "articles:post" each.pk each.title|slugify %}">{{each.title}}</a></h6>
                      <div class="posts__excerpt">
                        {{each.introText}}
                      </div>
                    </div>                    
                  </div>
                </div>
              {% endfor %}
            </div>
            <!-- Post Grid / End -->

            <!-- Post Pagination -->
            <nav class="post-pagination text-center">
              <ul class="pagination pagination--lg">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><span>...</span></li>
                <li><a href="#">16</a></li>
              </ul>
            </nav>
            <!-- Post Pagination / End -->


          </div>
          <!-- Content / End -->

          <!-- Sidebar -->
          {% include "sidebar.html" %}
          <!-- Sidebar / End -->
        </div>

      </div>
    </div>

    <!-- Content / End -->

{% endblock content %}
