{% extends "base.html" %}
{% load staticfiles %}
{% load disqus_tags %}

{% block title %}
{{post.title}} {{post.category.name}}
{% endblock title %}

{% block content %}

    <!-- Page Heading
    ==================================================
      {% comment %} url("../images/football/page-heading.jpg");
      style="background-image:'{{post.mainImage}}' {% endcomment %}
    -->
    
    <div class="page-heading page-heading--overlay" style="background-image:url('{{post.mainImage.url}}')" >
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <!-- Post Meta - Top -->
            <div class="post__meta-block post__meta-block--top posts__item--category-2">

              <!-- Post Category -->
              <div class="post__category">
                <span class="label posts__cat-label">{{post.category.name}}</span>
              </div>
              <!-- Post Category / End -->

              <!-- Post Title -->
              <h1 class="page-heading__title">{{post.title}}</h1>
              <!-- Post Title / End -->

              <div class="posts__date"><time datetime="2017-08-23">{{post.date_added}}</time></div>

              <!-- Post Meta Info -->
              <ul class="post__meta meta">
                <li class="meta__item meta__item--author">
                  <!-- Post Author -->
                  <div class="post-author">
                    <div class="post-author__info">
                      <h4 class="post-author__name">{{post.author.first_name}} {{post.author.last_name}}</h4>
                    </div>
                  </div>
                  <!-- Post Author / End -->
                </li>
                <li class="meta__item meta__item--views">{{post.hits}}</li>
              </ul>
              <!-- Post Meta Info / End -->

            </div>
            <!-- Post Meta - Top / End -->
          </div>
        </div>
      </div>
    </div>

    <!-- Content
    ================================================== -->
    <div class="site-content">
      <div class="container">

        <div class="row">
          <!-- Content -->
          <div class="content col-md-8 col-md-offset-2">

            <!-- Article -->
            <article class="card post post--single post--extra-top">
              <div class="card__content">

                <div class="post__content">
                  {{post.content|safe}}
                </div>
                <footer class="post__footer">
                  <div class="post__tags">
                    <a href="#" class="btn btn-default btn-outline btn-xs">Results</a>
                    <a href="#" class="btn btn-default btn-outline btn-xs">Incorporation</a>
                    <a href="#" class="btn btn-default btn-outline btn-xs">Finals</a>
                    <a href="#" class="btn btn-default btn-outline btn-xs">Uniforms</a>
                  </div>
                </footer>

              </div>
            </article>
            <!-- Article / End -->

            <!-- Post Sharing Buttons -->
            <div class="addthis_inline_share_toolbox"></div>
            <!-- Post Sharing Buttons / End -->


            <!-- Related Posts -->
            <div class="post-related post-related--condensed row">
              <div class="col-xs-6">
                <!-- Prev Post -->
                <div class="card post-related__prev">
                  <div class="card__content">

                    <!-- Prev Post Links -->
                    <a href="#" class="btn-nav btn-nav--condensed">
                      <i class="fa fa-angle-left"></i>
                    </a>
                    <!-- Prev Post Links / End -->

                    <ul class="posts posts--simple-list">
                      <li class="posts__item posts__item--category-1">
                        <div class="posts__inner">
                          <div class="posts__cat">
                            <span class="label posts__cat-label">Injuries</span>
                          </div>
                          <h6 class="posts__title"><a href="#">The team is gonna make a trip to the beach for a small vacation</a></h6>
                          <time datetime="2017-08-23" class="posts__date">August 23rd, 2017</time>
                        </div>
                      </li>
                    </ul>

                  </div>
                </div>
                <!-- Prev Post / End -->
              </div>
              <div class="col-xs-6">
                <div class="card post-related__next">
                  <!-- Next Post -->
                  <div class="card__content">

                    <ul class="posts posts--simple-list">
                      <li class="posts__item posts__item--category-3">
                        <div class="posts__inner">
                          <div class="posts__cat">
                            <span class="label posts__cat-label">The League</span>
                          </div>
                          <h6 class="posts__title"><a href="#">Veteran player Xavier McCoy will coach The Sharks next league</a></h6>
                          <time datetime="2017-08-23" class="posts__date">August 23rd, 2017</time>
                        </div>
                      </li>
                    </ul>

                    <!-- Next Post Link -->
                    <a href="#" class="btn-nav btn-nav--condensed">
                      <i class="fa fa-angle-right"></i>
                    </a>
                    <!-- Next Post Link / End -->

                  </div>
                  <!-- Next Post / End -->
                </div>
              </div>
            </div>
            <!-- Related Posts / End -->


            <!-- Post Comments -->
            <div class="post-comments card">
              {% disqus_show_comments %}
            </div>
            <!-- Post Comments / End -->


            <!-- Post Comment Form -->
            <div class="post-comment-form card">
              <header class="post-comment-form__header card__header">
                <h4>Write a Comment</h4>
              </header>
              <div class="post-comment-form__content card__content">
                <form action="#" class="comment-form">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="input-name">Your Name <span class="required">*</span></label>
                        <input type="text" id="input-name" name="input-name" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="input-email">Your Email <span class="required">*</span></label>
                        <input type="email" id="input-email" name="input-email" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="textarea-comment">Your Comment <span class="required">*</span></label>
                    <textarea name="textarea-comment" id="textarea-comment" rows="7" class="form-control"></textarea>
                  </div>
                  <div class="form-group mb-0">
                    <button type="submit" class="btn btn-primary-inverse btn-block btn-lg">Post Your Comment</button>
                  </div>
                </form>
              </div>
            </div>
            <!-- Post Comment Form / End -->


          </div>
          <!-- Content / End -->

        </div>

      </div>
    </div>

    <!-- Content / End -->

{% endblock content %}
