{% load staticfiles %}

<!DOCTYPE html>
<html lang="zxx">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <title>{% block title %}{% endblock title %} | FeverPitch</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{description}}">
  <meta name="author" content="Delhi Nerds">
  <meta name="keywords" content="{{keywords}}">

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="{% static "assets/images/football/favicons/favicon.ico" %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static "images/football/favicons/favicon-120.png" %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static "images/football/favicons/favicon-152.png" %}">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

  <!-- Google Web Fonts
  ================================================== -->
  <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700,700i|Roboto:400,400i" rel="stylesheet">

  <!-- CSS
  ================================================== -->

  <!-- Vendor CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "fonts/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
  <link href="{% static "fonts/simple-line-icons/css/simple-line-icons.css" %}" rel="stylesheet">
  <link href="{% static "vendor/magnific-popup/dist/magnific-popup.css" %}" rel="stylesheet">
  <link href="{% static "vendor/slick/slick.css" %}" rel="stylesheet">

  <!-- Template CSS-->
  <link href="{% static "css/content.css" %}" rel="stylesheet">
  <link href="{% static "css/components.css" %}" rel="stylesheet">
  <link href="{% static "css/style.css" %}" rel="stylesheet">

  <!-- Custom CSS-->
  <link href="{% static "css/custom.css" %}" rel="stylesheet">

</head>
<body class="template-football">

  <div class="site-wrapper clearfix">
    <div class="site-overlay"></div>

    {% include "header.html" %}

    {% block content %}
    {% endblock content %}

    {% include "footer.html" %}

  </div>
  <!-- Javascript Files
  ================================================== -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58e7657c9ae3b11c"></script> 
  <!-- Core JS -->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "js/core-min.js" %}"></script>

  <!-- Vendor JS -->
  <script src="{% static "vendor/twitter/jquery.twitter.js" %}"></script>
  <script src="{% static "vendor/jquery-duotone/jquery.duotone.min.js" %}"></script>

  <script src="{% static "vendor/marquee/jquery.marquee.min.js" %}"></script>

  <!-- Template JS -->
  <script src="{% static "js/init.js" %}"></script>
  <script src="{% static "js/custom.js" %}"></script>

  </body>

</html>
