{% load staticfiles %}
<!-- Footer
================================================== -->
<footer id="footer" class="footer">

  <!-- Footer Info -->
  <div class="footer-info">
    <div class="container">

      <div class="footer-info__inner">
        <!-- Footer Logo -->
        <div class="footer-logo footer-logo--has-txt">
          <a href="{% url "articles:index" 1 %}">
            <img src="{% static "images/fplogo.png" %}" style="width:100px;" alt="FeverPitch" class="footer-logo__img">
            <div class="footer-logo__heading">
              <h5 class="footer-logo__txt">FeverPitch</h5>
              <span class="footer-logo__tagline">Indian Football's Only Online Home</span>
            </div>
          </a>
        </div>
        <!-- Footer Logo / End -->

        <!-- Info Block -->
        <div class="info-block info-block--horizontal">
          <div class="info-block__item info-block__item--helmet">
            <svg role="img" class="df-icon df-icon--football-helmet">
              <use xlink:href="../static/images/football/icons-football.svg#football-helmet"/>
            </svg>
            <h6 class="info-block__heading">Join Our Team!</h6>
            <a class="info-block__link" href="mailto:feverpitchin@gmail.com">feverpitchin@gmail.com</a>
          </div>
          <div class="info-block__item">
            <svg role="img" class="df-icon df-icon--football-ball">
              <use xlink:href="../static/images/football/icons-football.svg#football-ball"/>
            </svg>
            <h6 class="info-block__heading">Contact Us</h6>
            <a class="info-block__link" href="mailto:info@feverpitch.in">info@feverpitch.in</a>
          </div>
          <div class="info-block__item info-block__item--social">
            <ul class="social-links social-links--circle">
              <li class="social-links__item">
                <a href="#" class="social-links__link"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="social-links__item">
                <a href="#" class="social-links__link"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="social-links__item">
                <a href="#" class="social-links__link"><i class="fa fa-instagram"></i></a>
              </li>
              <li class="social-links__item">
                <a href="#" class="social-links__link"><i class="fa fa-rss"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Info Block / End -->

      </div>
    </div>
  </div>
  <!-- Footer Info / End -->

  <!-- Footer Secondary -->
  <div class="footer-secondary">
    <div class="container">
      <div class="footer-secondary__inner">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-copyright"><a href="_football_index.html">FeverPitch</a> 2016-2017 &nbsp; | &nbsp; All Rights Reserved. Designed and Developed by Delhi Nerds.</div>
          </div>
          <div class="col-md-8">
            <ul class="footer-nav footer-nav--right footer-nav--sm">
              <li class="footer-nav__item"><a href="#">Home</a></li>
              <li class="footer-nav__item"><a href="#">About Us</a></li>
              <li class="footer-nav__item"><a href="#">Statistical Sources</a></li>
              <li class="footer-nav__item"><a href="#">Terms of Use</a></li>
              <li class="footer-nav__item"><a href="#">Privacy Policy</a></li>
              <li class="footer-nav__item"><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Secondary / End -->
</footer>
<!-- Footer / End -->
