{% load staticfiles %}

<!-- Header
================================================== -->

<!-- Header Mobile -->
<div class="header-mobile clearfix" id="header-mobile">
  <div class="header-mobile__logo">
    <a href="{% url "articles:index" 1 %}"><img src="{% static "images/fplogo.png" %}" alt="FeverPitch" style="width:100px;" class="header-mobile__logo-img"></a>
  </div>
  <div class="header-mobile__inner">
    <a id="header-mobile__toggle" class="burger-menu-icon"><span class="burger-menu-icon__line"></span></a>
    <span class="header-mobile__search-icon" id="header-mobile__search-icon"></span>
  </div>
</div>

<!-- Header Desktop -->
<header class="header">

  <!-- Header Top Bar -->
  <div class="header__top-bar clearfix">
    <div class="container">

      <!-- Account Navigation -->
      <ul class="nav-account">
        {% if request.user.is_authenticated %}
        <li class="nav-account__item"><a href="_football_shop-account.html">Your Account</a></li>
        <li class="nav-account__item"><a href="#">Contribute</a></li>
        {% endif %}
          <li class="nav-account__item"><a href="#">Language: <span class="highlight">EN</span></a>
            <ul class="main-nav__sub">
              <li><a href="#">English</a></li>
            </ul>
          </li>
        {% if request.user.is_authenticated %}
          <li class="nav-account__item nav-account__item--logout"><a href="_football_shop-login.html">Logout</a></li>
        {% else %}
          <li class="nav-account__item nav-account__item--logout"><a href="login">Login</a></li>
        {% endif %}
      </ul>
      <!-- Account Navigation / End -->

    </div>
  </div>
  <!-- Header Top Bar / End -->

  <!-- Header Secondary -->
  <div class="header__secondary">
    <div class="container">

      <ul class="info-block info-block--header">
        <li class="info-block__item info-block__item--contact-primary">
          <svg role="img" class="df-icon df-icon--football-helmet">
            <use xlink:href="../static/images/football/icons-football.svg#football-helmet"/>
          </svg>
          <h6 class="info-block__heading">Join Our Team! Write for Us!</h6>
          <a class="info-block__link" href="mailto:feverpitchin@gmail.com">feverpitchin@gmail.com</a>
        </li>
        <li class="info-block__item info-block__item--contact-secondary">
          <svg role="img" class="df-icon df-icon--football-ball">
            <use xlink:href="../static/images/football/icons-football.svg#football-ball"/>
          </svg>
          <h6 class="info-block__heading">Contact Us</h6>
          <a class="info-block__link" href="mailto:info@feverpitch.in">info@feverpitch.in</a>
        </li>
      </ul>

      <!-- Banner 420x60 -->
      <div class="header-banner">
        <a href="#"><img src="{% static "images/football/banner-420x60.jpg" %}" alt=""></a>
      </div>
      <!-- Banner 420x60 / End -->

    </div>
  </div>
  <!-- Header Secondary / End -->

  <!-- Header Primary -->
  <div class="header__primary">
    <div class="container">
      <div class="header__primary-inner">

        <!-- Header Logo -->
        <div class="header-logo" style="margin-bottom:-10px;">
          <a href="{% url "articles:index" 1 %}"><img src="{% static "images/fplogo.png" %}" alt="Fever Pitch" style="width:150px;"></a>
        </div>
        <!-- Header Logo / End -->

        {% include "menu.html" %}

      </div>
    </div>
  </div>
  <!-- Header Primary / End -->

</header>
<!-- Header / End -->
