{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<!-- Header Posts
================================================== -->
<div class="container-fluid">
  <div class="posts post-grid--fitRows post-grid--featured">

    <div class="post-grid__item col-md-6">
      <div class="posts__item posts__item--desc-center posts__item--category-1">
        <a href="#" class="posts__link-wrapper">
          <figure class="posts__thumb">
            <img src="{{homepagePosts.0.introImage.url}}" alt="" class="duotone-img" data-gradient-map="#282840, #f92552">
          </figure>
          <div class="posts__inner">
            <div class="posts__cat">
              <span class="label posts__cat-label">{{homepagePosts.0.category.name}}</span>
            </div>
            <h3 class="posts__title">{{homepagePosts.0.title}}</h3>
            <div class="post-author">
              <div class="post-author__info">
                <time datetime="2017-08-28" class="posts__date">{{homepagePosts.0.date_added}}</time>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="post-grid__item col-sm-6 col-md-3">
      <div class="posts__item posts__item--desc-left posts__item--category-1">
        <a href="#" class="posts__link-wrapper">
          <figure class="posts__thumb">
            <img src="{{homepagePosts.1.introImage.url}}" alt="" class="duotone-img" data-gradient-map="#282840, #f92552">
          </figure>
          <div class="posts__inner">
            <div class="posts__cat">
              <span class="label posts__cat-label">{{homepagePosts.1.category.name}}</span>
            </div>
            <h3 class="posts__title">{{homepagePosts.1.title}}</h3>
            <div class="post-author">
              <div class="post-author__info">
                <time datetime="2017-08-28" class="posts__date">{{homepagePosts.1.date_added}}</time>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="post-grid__item col-sm-6 col-md-3">
      <div class="posts__item posts__item--desc-left posts__item--category-1">
        <a href="#" class="posts__link-wrapper">
          <figure class="posts__thumb">
            <img src="{{homepagePosts.2.introImage.url}}" alt="" class="duotone-img" data-gradient-map="#282840, #f92552">
          </figure>
          <div class="posts__inner">
            <div class="posts__cat">
              <span class="label posts__cat-label">{{homepagePosts.2.category.name}}</span>
            </div>
            <h3 class="posts__title">{{homepagePosts.2.title}}</h3>
            <div class="post-author">
              <div class="post-author__info">
                <time datetime="2017-08-28" class="posts__date">{{homepagePosts.2.date_added}}</time>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% for each in homeb4 %}
    <div class="post-grid__item col-sm-6 col-md-3">
      <div class="posts__item posts__item--desc-left posts__item--category-2">
        <a href="#" class="posts__link-wrapper">
          <figure class="posts__thumb">
            <img src="{{each.introImage.url}}" alt="" class="duotone-img" data-gradient-map="#282840, #9e69ee">
          </figure>
          <div class="posts__inner">
            <div class="posts__cat">
              <span class="label posts__cat-label">{{each.category.url}}</span>
            </div>
            <h3 class="posts__title">{{each.title}}</h3>
            <div class="post-author">
              <div class="post-author__info">
                <time datetime="2017-08-28" class="posts__date">{{each.date_added}}</time>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}

  </div>
</div>


<!-- Breaking News -->
<div class="marquee-wrapper">
  <div class="container">

    <div class="marquee-label">
      Latest Articles
    </div>
    <div class="marquee" data-duration="18000" data-gap="10" data-duplicated="true" >
      <ul class="posts posts--inline">
        {% for each in latest_articles %}
        <li class="posts__item">
          <h6 class="posts__title"><a href="{% url "articles:post" each.pk each.title|slugify %}">{{each.title}}</a></h6>
          <div class="posts__excerpt">{{each.introText}}</div>
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>
<!-- Breaking News / End -->



<!-- Content
================================================== -->
<div class="site-content">
  <div class="container">

    <div class="row">
      <!-- Content -->
      <div class="content col-md-8">

        <!-- Posts Area 1 -->
        <!-- Latest News -->
        <div class="card card--clean mb-0">
          <header class="card__header card__header--has-filter">
            <h4>Latest News</h4>
          </header>
          <div class="card__content">
            <!-- Posts Grid -->
            <div class="posts posts--tile post-grid post-grid--masonry-filter row">

              {% for each in articles %}

              <div class="post-grid__item col-sm-6 posts__item--category-1">
                <div class="posts__item posts__item--tile card">
                  <figure class="posts__thumb">
                    <img src="{{each.introImage.url}}" alt="" class="duotone-img" data-gradient-map="#282840, #4c4b73">
                  </figure>
                  <a href="#" class="posts__cta"></a>
                  <div class="posts__inner">
                    <div class="posts__cat">
                      <span class="label posts__cat-label">{{each.category.name}}</span>
                    </div>
                    <h6 class="posts__title"><a href="{% url "articles:post" each.pk each.title|slugify %}">{{each.title}}</a></h6>
                    <time datetime="2017-08-23" class="posts__date">{{each.date_added}}</time>
                    <footer class="posts__footer card__footer">
                      <div class="post-author">
                        <div class="post-author__info">
                          <h4 class="post-author__name">{{each.author.first_name}} {{each.author.last_name}}</h4>
                        </div>
                      </div>
                      <ul class="post__meta meta">
                        <li class="meta__item meta__item--views">{{each.hits}}</li>
                      </ul>
                    </footer>
                  </div>
                </div>
              </div>

              {% endfor %}

            </div>
            <!-- Post Grid / End -->
          </div>
        </div>
        <!-- Latest News / End -->
        <!-- Posts Area 1 / End -->

        <!-- Post Pagination -->
        <nav class="post-pagination text-center">
          <ul class="pagination pagination--lg">


            {% if articles.has_other_pages %}
              <ul class="pagination">
                {% if articles.has_previous %}
                  <li><a href="{% url "articles:index" articles.previous_page_number %}"> &laquo;<span aria-hidden="true">Prev</span></a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}

                {% if 1 not in page_range %}
                  <li><a href="{% url "articles:index" 1 %}">1<span class="ellipsis">...</span></a></li>

                {% endif %}

                {% for i in page_range %}

                  {% if  i > 0 and i <=  total_pages and articles.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% elif i > 0 and i <= total_pages %}
                    <li><a href="{% url "articles:index" i %}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}

                {% if total_pages not in page_range %}
                  <li><a href="{% url "articles:index" total_pages %}" ><span class="ellipsis">...</span>{{total_pages}}</a></span></li>
                {% endif %}

                {% if articles.has_next %}
                  <li><a href="{% url "articles:index" articles.next_page_number %}"><span aria-hidden="true">NEXT</span>&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}


          </ul>
        </nav>
        <!-- Post Pagination / End -->



      </div>
      <!-- Content / End -->


      {% include "sidebar.html" %}

    </div>

  </div>
</div>

<!-- Content / End -->

{% endblock content %}
