{% load staticfiles %}
<!-- Main Navigation -->
<nav class="main-nav clearfix">
  <ul class="main-nav__list">

    <li class="active"><a href="{% url "articles:index" 1 %}">Home</a>
    </li>
    <li class=""><a href="#">Articles</a>
      <div class="main-nav__megamenu clearfix">
        <ul class="col-lg-2 col-md-3 col-xs-12 main-nav__ul">
          <li class="main-nav__title">Categories</li>
          {% for each in categories %}
          <li><a href="{% url "articles:category" each.pk each.name|slugify %}">{{each.name}}</a></li>
          {% endfor %}
        </ul>
        <div class="col-lg-4 col-md-3 col-xs-12">
          <ul class="posts posts--simple-list">
            <li class="posts__item posts__item--category-1">
              <figure class="posts__thumb">
                <a href="#"><img src="assets/images/samples/post-img8-xs.jpg" alt=""></a>
              </figure>
              <div class="posts__inner">
                <div class="posts__cat">
                  <span class="label posts__cat-label">The Team</span>
                </div>
                <h6 class="posts__title"><a href="#">The perfect breakfast for the team's high intensity</a></h6>
                <time datetime="2016-08-21" class="posts__date">August 21st, 2016</time>
              </div>
            </li>
            <li class="posts__item posts__item--category-2">
              <figure class="posts__thumb">
                <a href="#"><img src="assets/images/football/samples/post-img25-xs.jpg" alt=""></a>
              </figure>
              <div class="posts__inner">
                <div class="posts__cat">
                  <span class="label posts__cat-label">Injuries</span>
                </div>
                <h6 class="posts__title"><a href="#">Alchemists coach on Summer's injury "It looks really bad"</a></h6>
                <time datetime="2016-08-23" class="posts__date">August 23rd, 2016</time>
              </div>
            </li>
            <li class="posts__item posts__item--category-1">
              <figure class="posts__thumb">
                <a href="#"><img src="assets/images/football/samples/post-img10-xs.jpg" alt=""></a>
              </figure>
              <div class="posts__inner">
                <div class="posts__cat">
                  <span class="label posts__cat-label">The Team</span>
                </div>
                <h6 class="posts__title"><a href="#">The team is gonna a trip to the beach for a samll vacation</a></h6>
                <time datetime="2016-08-21" class="posts__date">August 21st, 2016</time>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-3 col-xs-12">

          <div class="posts posts--tile">
            <div class="posts__item posts__item--tile posts__item--category-2 card">
              <figure class="posts__thumb">
                <img src="{% static "images/football/samples/post-img2-tile-sm.jpg" %}" alt="" class="duotone-img" data-gradient-map="#282840, #4c4b73">
              </figure>
              <a href="#" class="posts__cta"></a>
              <div class="posts__inner">
                <div class="posts__cat">
                  <span class="label posts__cat-label">Injuries</span>
                </div>
                <h6 class="posts__title"><a href="#">Jennifer T. Danvers has a sprained wrist and will be out for eight games</a></h6>
                <time datetime="2017-09-14" class="posts__date">September 14th, 2017</time>
                <footer class="posts__footer card__footer">
                  <div class="post-author">
                    <figure class="post-author__avatar">
                      <img src="assets/images/football/samples/avatar-6-xs.jpg" alt="Post Author Avatar">
                    </figure>
                    <div class="post-author__info">
                      <h4 class="post-author__name">Ginny Valentine</h4>
                    </div>
                  </div>
                  <ul class="post__meta meta">
                    <li class="meta__item meta__item--views">2369</li>
                    <li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
                    <li class="meta__item meta__item--comments"><a href="#">18</a></li>
                  </ul>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li><a href="#">Teams</a>
      <div class="main-nav__megamenu clearfix" style="background-color:white;">
        <ul class="col-lg-12 col-md-12 col-xs-12 main-nav__ul">
          <div class="row">
            <div class="col-md-12">
              {% for each in teams %}
              <div class="col-md-1">
                <a href="{% url "stats:team-page" each.pk each.name|slugify %}"><img src="{{each.logo.url}}" alt="image" class="img-responsive"></a>
              </div>
              {% endfor %}
            </div>
          </div>
        </li
      </ul>
    </div>
  </li>
  <li><a href="#">Cups and Leagues</a>
    <div class="main-nav__megamenu clearfix" style="background-color:white;">
      <ul class="col-lg-12 col-md-12 col-xs-12 main-nav__ul">
        <div class="row">
          <div class="col-md-12">
            {% for each in competitions %}
            <div class="col-md-3">
              <a href="{% url "stats:leaguePage" each.pk each.name|slugify %}"><img src="{{each.logo.url}}" alt="image" class="img-responsive"></a>
            </div>
            {% endfor %}
          </div>
        </div>
      </li
    </ul>
  </div>
  </li>
  <li><a href="{% url "articles:index" 1 %}">Players</a></li>
  <li><a href="{% url "articles:index" 1 %}">About Us</a></li>
</ul>

      <!-- Header Search Form -->
      <div class="header-search-form header-search-form--right">
        <form action="{% url "articles:search" %}" id="mobile-search-form" class="search-form">
          <input type="hidden" name="page" value="1">
          <input type="text"  class="form-control header-mobile__search-control" value="" placeholder="Enter your seach here..." name="term">
          <button type="submit" class="header-mobile__search-submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <!-- Header Search Form / End -->

    </nav>
    <!-- Main Navigation / End -->
