{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Home
{% endblock title %}

{% block content %}




  <div class="site-wrapper clearfix">
    <div class="site-overlay"></div>


    <!-- Page Heading
    ================================================== -->
    <div class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="page-heading__title">Search <span class="highlight">Results</span></h1>
            <ol class="page-heading__breadcrumb breadcrumb">
              <li>
                <a href="{% url "articles:index" 1 %}">Home</a>
              </li>
              <li class="active">Search Results</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- Post Filter -->
    <div class="post-filter">
      <div class="container">
        <form action="#" class="post-filter__form clearfix">
          <div class="post-filter__select">
            <label class="post-filter__label">Category</label>
            <select class="cs-select cs-skin-border">
              <option value="" disabled selected>All Articles</option>
              <option value="all">All Articles</option>
              <option value="team">The Team</option>
              <option value="playoffs">Playoffs</option>
              <option value="injuries">Injuries</option>
            </select>
          </div>
          <div class="post-filter__select">
            <label class="post-filter__label">Filter By</label>
            <select class="cs-select cs-skin-border">
              <option value="" disabled selected>Article Date</option>
              <option value="date">Article Date</option>
              <option value="id">Article ID</option>
              <option value="comments">Last Comments</option>
              <option value="random">Random</option>
            </select>
          </div>
          <div class="post-filter__select">
            <label class="post-filter__label">Order</label>
            <select class="cs-select cs-skin-border">
              <option value="" disabled selected>Ascending</option>
              <option value="ascending">Ascending</option>
              <option value="descending">Descending</option>
            </select>
          </div>
          <div class="post-filter__select">
            <label class="post-filter__label">Author</label>
            <select class="cs-select cs-skin-border">
              <option value="" disabled selected>All Authors</option>
              <option value="all">All Authors</option>
              <option value="author1">James Spiegel</option>
              <option value="author2">Jessica Hoops</option>
              <option value="author3">Mark Johnson</option>
            </select>
          </div>
          <div class="post-filter__submit">
            <button type="submit" class="btn btn-primary-inverse btn-lg btn-block">Filter News</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Post Filter / End -->


    <!-- Content
    ================================================== -->
    <div class="site-content">
      <div class="container">

        <div class="row">
          <!-- Content -->
          <div class="content col-md-8">
            {% if results %}
              <div class="alert alert-success">
                <strong>{{ count }} Articles were found for your "<span class="text-success">{{term}}</span>" search</strong>
              </div>
              <ul class="posts posts--simple-list posts--simple-list--search">
                {% for each in results %}
                    <li class="{% cycle 'posts__item card posts__item--category-1' 'posts__item card posts__item--category-2' 'posts__item card posts__item--category-3' %}" >
                      <div class="posts__inner card__content">
                        <div class="posts__cat">
                          <span class="label posts__cat-label">{{each.category}}</span>
                        </div>
                        <h6 class="posts__title">
                          <a href="{% url "articles:post" each.pk each.title|slugify %}">{{each.title}}</a>
                        </h6>
                        <time datetime="2017-08-23" class="posts__date">{{each.date_added}}</time>
                        <div class="posts__excerpt">
                          {{each.introText | safe}}
                        </div>
                      </div>
                    </li>

                {% endfor %}
              </ul>

              <nav class="post-pagination text-center">
                <ul class="pagination pagination--lg">


                  {% if results.has_other_pages %}
                    <ul class="pagination">
                      {% if results.has_previous %}
                        <li><a href= "{% url "articles:search" %}?page={{results.previous_page_number}}&term={{term}}"> &laquo;<span aria-hidden="true">Prev</span></a></li>
                      {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                      {% endif %}

                      {% if 1 not in page_range %}
                        <li><a href="{% url "articles:search" %}?page=1&term={{term}}">1<span class="ellipsis">...</span></a></li>

                      {% endif %}

                      {% for i in page_range %}

                        {% if  i > 0 and i <=  total_pages and results.number == i %}
                          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% elif i > 0 and i <= total_pages %}
                          <li><a href="{% url "articles:search" %}?page={{i}}&term={{term}}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}

                      {% if total_pages not in page_range %}
                        <li><a href="{% url "articles:search" %}?page={{total_pages}}&term={{term}}" ><span class="ellipsis">...</span>{{total_pages}}</a></span></li>
                      {% endif %}

                      {% if results.has_next %}
                        <li><a href="{% url "articles:search" %}?page={{results.next_page_number}}&term={{term}}"><span aria-hidden="true">NEXT</span>&raquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                      {% endif %}
                    </ul>
                  {% endif %}


                </ul>
              </nav>


            {% else %}
            <div class="alert alert-warning">
              <strong>No Articles were found for your "<span class="text-success">{{term}}</span>" search</strong>
            </div>
            {% endif %}





          </div>
          <!-- Content / End -->

          <!-- Sidebar -->
          <div id="sidebar" class="sidebar col-md-4">
            <!-- Widget: Social Buttons - Grid-->
            <aside class="widget widget--sidebar widget-social widget-social--grid">
              <a href="#" class="btn-social-counter btn-social-counter--fb" target="_blank">
                <div class="btn-social-counter__icon">
                  <i class="fa fa-facebook"></i>
                </div>
                <h6 class="btn-social-counter__title">Like Us!</h6>
                <span class="btn-social-counter__count"><span class="btn-social-counter__count-num"></span> Likes</span>
                <span class="btn-social-counter__add-icon"></span>
              </a>
              <a href="#" class="btn-social-counter btn-social-counter--twitter" target="_blank">
                <div class="btn-social-counter__icon">
                  <i class="fa fa-twitter"></i>
                </div>
                <h6 class="btn-social-counter__title">Follow Us!</h6>
                <span class="btn-social-counter__count"><span class="btn-social-counter__count-num"></span> Followers</span>
                <span class="btn-social-counter__add-icon"></span>
              </a>
              <a href="#" class="btn-social-counter btn-social-counter--instagram" target="_blank">
                <div class="btn-social-counter__icon">
                  <i class="fa fa-instagram"></i>
                </div>
                <h6 class="btn-social-counter__title">Follow Us!</h6>
                <span class="btn-social-counter__count"><span class="btn-social-counter__count-num"></span> Followers</span>
                <span class="btn-social-counter__add-icon"></span>
              </a>
              <a href="#" class="btn-social-counter btn-social-counter--rss" target="_blank">
                <div class="btn-social-counter__icon">
                  <i class="fa fa-rss"></i>
                </div>
                <h6 class="btn-social-counter__title">Subscribe!</h6>
                <span class="btn-social-counter__count"><span class="btn-social-counter__count-num">840</span> Subscribers</span>
                <span class="btn-social-counter__add-icon"></span>
              </a>
            </aside>
            <!-- Widget: Social Buttons - Grid / End -->


            <!-- Widget: Popular News - Numbered -->
            <aside class="widget widget--sidebar card widget-popular-posts">
              <div class="widget__title card__header">
                <h4>Popular News</h4>
              </div>
              <div class="widget__content card__content">
                <ul class="posts posts--simple-list posts--simple-list-numbered">
                  <li class="posts__item posts__item--category-1">
                    <div class="posts__inner">
                      <div class="posts__cat">
                        <span class="label posts__cat-label">The Team</span>
                      </div>
                      <h6 class="posts__title"><a href="#">Alchemists Stadium will have a max capacity for 500.000 fans</a></h6>
                      <time datetime="2017-09-22" class="posts__date">September 22nd, 2017</time>
                    </div>
                  </li>
                  <li class="posts__item posts__item--category-2">
                    <div class="posts__inner">
                      <div class="posts__cat">
                        <span class="label posts__cat-label">Injuries</span>
                      </div>
                      <h6 class="posts__title"><a href="#">Alchemists coach on Jake Summer's injury "It looks really bad"</a></h6>
                      <time datetime="2017-08-05" class="posts__date">August 5th, 2017</time>
                    </div>
                  </li>
                  <li class="posts__item posts__item--category-3">
                    <div class="posts__inner">
                      <div class="posts__cat">
                        <span class="label posts__cat-label">The League</span>
                      </div>
                      <h6 class="posts__title"><a href="#">The Clovers defense must reinvent itself without Adam Howlett</a></h6>
                      <time datetime="2017-09-16" class="posts__date">September 16th, 2017</time>
                    </div>
                  </li>
                  <li class="posts__item posts__item--category-1">
                    <div class="posts__inner">
                      <div class="posts__cat">
                        <span class="label posts__cat-label">The Team</span>
                      </div>
                      <h6 class="posts__title"><a href="#">Take a look to the brand new helmets for next season</a></h6>
                      <time datetime="2017-09-08" class="posts__date">September 8th, 2017</time>
                    </div>
                  </li>
                  <li class="posts__item posts__item--category-1">
                    <div class="posts__inner">
                      <div class="posts__cat">
                        <span class="label posts__cat-label">The Team</span>
                      </div>
                      <h6 class="posts__title"><a href="#">The Alchemists women division started training for next season</a></h6>
                      <time datetime="2017-08-17" class="posts__date">August 17th, 2017</time>
                    </div>
                  </li>
                </ul>
              </div>
            </aside>
            <!-- Widget: Popular News - Numbered / End -->


            <!-- Widget: Tag Cloud -->
            <aside class="widget widget--sidebar card widget-tagcloud">
              <div class="widget__title card__header">
                <h4>Tags Widgets</h4>
              </div>
              <div class="widget__content card__content">
                <div class="tagcloud">
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">Results</a>
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">INCORPORATIONS</a>
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">Finals</a>
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">Tryouts</a>
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">Prospects</a>
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">Uniforms</a>
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">WMN Division</a>
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">MVP</a>
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">Offense</a>
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">Defense</a>
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">Game Tactics</a>
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">Coach</a>
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">Champions</a>
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">Players</a>
                  <a href="#" class="btn btn-default btn-xs btn-outline btn-sm">Professional</a>
                </div>
              </div>
            </aside>
            <!-- Widget: Tag Cloud / End -->


            <!-- Widget: Banner -->
            <aside class="widget card widget--sidebar widget-banner">
              <div class="widget__title card__header">
                <h4>300x250 Banner</h4>
              </div>
              <div class="widget__content card__content">
                <figure class="widget-banner__img">
                  <a href="https://themeforest.net/item/the-alchemists-sports-news-html-template/19106722?ref=dan_fisher"><img src="assets/images/football/banner.jpg" alt="Banner"></a>
                </figure>
              </div>
            </aside>
            <!-- Widget: Banner / End -->


          </div>
          <!-- Sidebar / End -->
        </div>

      </div>
    </div>


  </div>

{% endblock content %}
