<!-- Sidebar -->
<div id="sidebar" class="sidebar col-md-4">

  <!-- Widget: Social Buttons - Grid-->
  <aside class="widget widget--sidebar widget-social widget-social--grid">
    <a href="#" class="btn-social-counter btn-social-counter--fb" target="_blank">
      <div class="btn-social-counter__icon">
        <i class="fa fa-facebook"></i>
      </div>
      <h6 class="btn-social-counter__title">Like Us!</h6>
      <span class="btn-social-counter__count"><span class="btn-social-counter__count-num"></span> Likes</span>
      <span class="btn-social-counter__add-icon"></span>
    </a>
    <a href="#" class="btn-social-counter btn-social-counter--twitter" target="_blank">
      <div class="btn-social-counter__icon">
        <i class="fa fa-twitter"></i>
      </div>
      <h6 class="btn-social-counter__title">Follow Us!</h6>
      <span class="btn-social-counter__count"><span class="btn-social-counter__count-num"></span> Followers</span>
      <span class="btn-social-counter__add-icon"></span>
    </a>
    <a href="#" class="btn-social-counter btn-social-counter--instagram" target="_blank">
      <div class="btn-social-counter__icon">
        <i class="fa fa-instagram"></i>
      </div>
      <h6 class="btn-social-counter__title">Follow Us!</h6>
      <span class="btn-social-counter__count"><span class="btn-social-counter__count-num"></span> Followers</span>
      <span class="btn-social-counter__add-icon"></span>
    </a>
    <a href="#" class="btn-social-counter btn-social-counter--rss" target="_blank">
      <div class="btn-social-counter__icon">
        <i class="fa fa-rss"></i>
      </div>
      <h6 class="btn-social-counter__title">Subscribe!</h6>
      <span class="btn-social-counter__count"><span class="btn-social-counter__count-num">840</span> Subscribers</span>
      <span class="btn-social-counter__add-icon"></span>
    </a>
  </aside>
  <!-- Widget: Social Buttons - Grid / End -->


  <!-- Widget: Popular News - Numbered -->
  <aside class="widget widget--sidebar card widget-popular-posts">
    <div class="widget__title card__header">
      <h4>Popular News</h4>
    </div>
    <div class="widget__content card__content">
      <ul class="posts posts--simple-list posts--simple-list-numbered">
        {% for each in popular %}
          <li class="posts__item posts__item--category-1">
            <div class="posts__inner">
              <div class="posts__cat">
                <span class="label posts__cat-label">{{each.category.name}}</span>
              </div>
              <h6 class="posts__title"><a href="{% url "articles:post" each.pk each.title|slugify %}">{{each.title}}</a></h6>
              <time datetime="2017-09-22" class="posts__date">{{each.date_added}}</time>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </aside>
  <!-- Widget: Popular News - Numbered / End -->


  <!-- Widget: Calendar -->
  <aside class="widget card card--has-table widget--sidebar widget-calendar">
    <div class="widget__title card__header">
      <h4>Upcoming Matches</h4>
    </div>
    <div class="widget__content card__content">

    <div id="calendar_wrap" class="calendar_wrap">
      <table>
        <caption>
          <span class="prev"><a href="#"></a></span>
          September 2017
          <span class="next"><a href="#"></a></span>
        </caption>
        <thead>
          <tr>
            <th scope="col" title="Sunday">SU</th>
            <th scope="col" title="Monday">MO</th>
            <th scope="col" title="Tuesday">TU</th>
            <th scope="col" title="Wednesday">WE</th>
            <th scope="col" title="Thursday">TH</th>
            <th scope="col" title="Friday">FR</th>
            <th scope="col" title="Saturday">SA</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td colspan="3" class="pad">&nbsp;</td>
            <td>1</td>
            <td><a href="#" data-toggle="tooltip" data-placement="top" title="Alchemists vs Sharks">2</a></td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
          </tr>
          <tr>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
          </tr>
          <tr>
            <td><a href="#" data-toggle="tooltip" data-placement="top" title="Alchemists vs Clovers">19</a></td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
          </tr>
          <tr>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
            <td>31</td>
            <td class="pad" colspan="1">&nbsp;</td>
          </tr>
        </tbody>

      </table>
    </div>

    </div>
  </aside>
  <!-- Widget: Calendar / End -->
</div>
<!-- Sidebar / End -->
