{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{team.name}} Roster
{% endblock title %}

{% block content %}

    <!-- Page Heading
    ================================================== -->
    <div class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="page-heading__title">{{team.name}} <span class="highlight">Roster</span></h1>
            <ol class="page-heading__breadcrumb breadcrumb">
              <li><a href="{% url "articles:index" %}">Home</a></li>
              <li><a href="{% url "stats:team-page" team.pk team.name|slugify %}">{{team.name}}</a></li>
              <li class="active">Roster</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Pages Filter -->
    <nav class="content-filter">
      <div class="container">
        <a href="#" class="content-filter__toggle"></a>
        <ul class="content-filter__list">
          <li class="content-filter__item "><a href="{% url "stats:team-page" team.pk team.name|slugify %}" class="content-filter__link"><small>The Team</small>Overview</a></li>
          <li class="content-filter__item content-filter__item--active"><a href="{% url "stats:team-roster" team.pk team.name|slugify %}" class="content-filter__link"><small>The Team</small>Roster</a></li>
          <li class="content-filter__item "><a href="_football_team-standings.html" class="content-filter__link"><small>The Team</small>Standings</a></li>
          <li class="content-filter__item "><a href="{% url "stats:team-result" team.pk team.name|slugify %}" class="content-filter__link"><small>The Team</small>Latest Results</a></li>
          <li class="content-filter__item "><a href="{% url "stats:team-schedule" team.pk team.name|slugify %}" class="content-filter__link"><small>The Team</small>Schedule</a></li></ul>
      </ul>
      </div>
    </nav>
    <!-- Team Pages Filter / End -->


    <!-- Content
    ================================================== -->
    <div class="site-content">
      <div class="container">

        <!-- Team Roster - Card -->
        <div class="team-roster team-roster--case team-roster--case-slider">


          <!-- Player -->
          <div class="team-roster__item card card--no-paddings">
            <div class="card__content">

              <!-- Player Photo -->
              <figure class="team-roster__player-img">
                <a href="_football_player-overview.html"><img src="assets/images/football/samples/roster-player1.jpg" alt=""></a>
              </figure>
              <!-- Player Photo / End-->

              <!-- Player Details -->
              <div class="card__header team-roster__player-details">
                <div class="team-roster__player-info">
                  <h3 class="team-roster__player-name">
                    <span class="team-roster__player-first-name">Steven</span>
                    <span class="team-roster__player-last-name">Masterson</span>
                  </h3>
                </div>
              </div>
              <!-- Player Details / End -->

              <!-- Player Meta Info -->
              <div class="team-roster__meta">
                <div class="team-roster__meta-item team-roster__meta-item--lg">
                  <div class="team-roster__meta-value team-roster__meta-value--accent">QB</div>
                  <div class="team-roster__meta-label">Position</div>
                </div>
                <div class="team-roster__meta-item">
                  <div class="team-roster__meta-value">28</div>
                  <div class="team-roster__meta-label">Number</div>
                </div>
                <div class="team-roster__meta-item">
                  <div class="team-roster__meta-value">23.9</div>
                  <div class="team-roster__meta-label">Stat AVG</div>
                </div>
              </div>
              <!-- Player Meta Info / End -->

            </div>
          </div>
          <!-- Player / End -->


          <!-- Player -->
          <div class="team-roster__item card card--no-paddings">
            <div class="card__content">

              <!-- Player Photo -->
              <figure class="team-roster__player-img">
                <a href="_football_player-overview.html"><img src="assets/images/football/samples/roster-player2.jpg" alt=""></a>
              </figure>
              <!-- Player Photo / End-->

              <!-- Player Details -->
              <div class="card__header team-roster__player-details">
                <div class="team-roster__player-info">
                  <h3 class="team-roster__player-name">
                    <span class="team-roster__player-first-name">Jake</span>
                    <span class="team-roster__player-last-name">Summer</span>
                  </h3>
                </div>
              </div>
              <!-- Player Details / End -->

              <!-- Player Meta Info -->
              <div class="team-roster__meta">
                <div class="team-roster__meta-item team-roster__meta-item--lg">
                  <div class="team-roster__meta-value team-roster__meta-value--accent">RB</div>
                  <div class="team-roster__meta-label">Position</div>
                </div>
                <div class="team-roster__meta-item">
                  <div class="team-roster__meta-value">56</div>
                  <div class="team-roster__meta-label">Number</div>
                </div>
                <div class="team-roster__meta-item">
                  <div class="team-roster__meta-value">17.5</div>
                  <div class="team-roster__meta-label">Stat AVG</div>
                </div>
              </div>
              <!-- Player Meta Info / End -->

            </div>
          </div>
          <!-- Player / End -->


          <!-- Player -->
          <div class="team-roster__item card card--no-paddings">
            <div class="card__content">

              <!-- Player Photo -->
              <figure class="team-roster__player-img">
                <a href="_football_player-overview.html"><img src="assets/images/football/samples/roster-player3.jpg" alt=""></a>
              </figure>
              <!-- Player Photo / End-->

              <!-- Player Details -->
              <div class="card__header team-roster__player-details">
                <div class="team-roster__player-info">
                  <h3 class="team-roster__player-name">
                    <span class="team-roster__player-first-name">Scott</span>
                    <span class="team-roster__player-last-name">Murdoch</span>
                  </h3>
                </div>
              </div>
              <!-- Player Details / End -->

              <!-- Player Meta Info -->
              <div class="team-roster__meta">
                <div class="team-roster__meta-item team-roster__meta-item--lg">
                  <div class="team-roster__meta-value team-roster__meta-value--accent">WR</div>
                  <div class="team-roster__meta-label">Position</div>
                </div>
                <div class="team-roster__meta-item">
                  <div class="team-roster__meta-value">07</div>
                  <div class="team-roster__meta-label">Number</div>
                </div>
                <div class="team-roster__meta-item">
                  <div class="team-roster__meta-value">12.6</div>
                  <div class="team-roster__meta-label">Stat AVG</div>
                </div>
              </div>
              <!-- Player Meta Info / End -->

            </div>
          </div>
          <!-- Player / End -->


          <!-- Player -->
          <div class="team-roster__item card card--no-paddings">
            <div class="card__content">

              <!-- Player Photo -->
              <figure class="team-roster__player-img">
                <a href="_football_player-overview.html"><img src="assets/images/football/samples/roster-player1.jpg" alt=""></a>
              </figure>
              <!-- Player Photo / End-->

              <!-- Player Details -->
              <div class="card__header team-roster__player-details">
                <div class="team-roster__player-info">
                  <h3 class="team-roster__player-name">
                    <span class="team-roster__player-first-name">Steven</span>
                    <span class="team-roster__player-last-name">Masterson</span>
                  </h3>
                </div>
              </div>
              <!-- Player Details / End -->

              <!-- Player Meta Info -->
              <div class="team-roster__meta">
                <div class="team-roster__meta-item team-roster__meta-item--lg">
                  <div class="team-roster__meta-value team-roster__meta-value--accent">QB</div>
                  <div class="team-roster__meta-label">Position</div>
                </div>
                <div class="team-roster__meta-item">
                  <div class="team-roster__meta-value">28</div>
                  <div class="team-roster__meta-label">Number</div>
                </div>
                <div class="team-roster__meta-item">
                  <div class="team-roster__meta-value">23.9</div>
                  <div class="team-roster__meta-label">Stat AVG</div>
                </div>
              </div>
              <!-- Player Meta Info / End -->

            </div>
          </div>
          <!-- Player / End -->


          <!-- Player -->
          <div class="team-roster__item card card--no-paddings">
            <div class="card__content">

              <!-- Player Photo -->
              <figure class="team-roster__player-img">
                <a href="_football_player-overview.html"><img src="assets/images/football/samples/roster-player2.jpg" alt=""></a>
              </figure>
              <!-- Player Photo / End-->

              <!-- Player Details -->
              <div class="card__header team-roster__player-details">
                <div class="team-roster__player-info">
                  <h3 class="team-roster__player-name">
                    <span class="team-roster__player-first-name">Jake</span>
                    <span class="team-roster__player-last-name">Summer</span>
                  </h3>
                </div>
              </div>
              <!-- Player Details / End -->

              <!-- Player Meta Info -->
              <div class="team-roster__meta">
                <div class="team-roster__meta-item team-roster__meta-item--lg">
                  <div class="team-roster__meta-value team-roster__meta-value--accent">RB</div>
                  <div class="team-roster__meta-label">Position</div>
                </div>
                <div class="team-roster__meta-item">
                  <div class="team-roster__meta-value">56</div>
                  <div class="team-roster__meta-label">Number</div>
                </div>
                <div class="team-roster__meta-item">
                  <div class="team-roster__meta-value">17.5</div>
                  <div class="team-roster__meta-label">Stat AVG</div>
                </div>
              </div>
              <!-- Player Meta Info / End -->

            </div>
          </div>
          <!-- Player / End -->


          <!-- Player -->
          <div class="team-roster__item card card--no-paddings">
            <div class="card__content">

              <!-- Player Photo -->
              <figure class="team-roster__player-img">
                <a href="_football_player-overview.html"><img src="assets/images/football/samples/roster-player3.jpg" alt=""></a>
              </figure>
              <!-- Player Photo / End-->

              <!-- Player Details -->
              <div class="card__header team-roster__player-details">
                <div class="team-roster__player-info">
                  <h3 class="team-roster__player-name">
                    <span class="team-roster__player-first-name">Scott</span>
                    <span class="team-roster__player-last-name">Murdoch</span>
                  </h3>
                </div>
              </div>
              <!-- Player Details / End -->

              <!-- Player Meta Info -->
              <div class="team-roster__meta">
                <div class="team-roster__meta-item team-roster__meta-item--lg">
                  <div class="team-roster__meta-value team-roster__meta-value--accent">WR</div>
                  <div class="team-roster__meta-label">Position</div>
                </div>
                <div class="team-roster__meta-item">
                  <div class="team-roster__meta-value">07</div>
                  <div class="team-roster__meta-label">Number</div>
                </div>
                <div class="team-roster__meta-item">
                  <div class="team-roster__meta-value">12.6</div>
                  <div class="team-roster__meta-label">Stat AVG</div>
                </div>
              </div>
              <!-- Player Meta Info / End -->

            </div>
          </div>
          <!-- Player / End -->



        </div>
        <!-- Team Roster - Card / End -->

        <div class="row">
          <!-- Team Roster: Table -->
          <div class="col-md-8">
            <div class="card card--has-table">
              <div class="card__header">
                <h4>Complete Roster</h4>
              </div>
              <div class="card__content">
                <div class="table-responsive">
                  <table class="table table--lg team-roster-table">
                    <thead>
                      <tr>
                        <th class="team-roster-table__number">NBR</th>
                        <th class="team-roster-table__name">Player Name</th>
                        <th class="team-roster-table__position">Position</th>
                        <th class="team-roster-table__age">Age</th>
                        <th class="team-roster-table__height">Height</th>
                        <th class="team-roster-table__weight">Weight</th>
                        <th class="team-roster-table__status">Status</th>
                        <th class="team-roster-table__college">College</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th colspan="8" class="team-roster-table__header">Offense</th>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">28</td>
                        <td class="team-roster-table__name">Steven Masterson</td>
                        <td class="team-roster-table__position">Quarterback</td>
                        <td class="team-roster-table__age">18</td>
                        <td class="team-roster-table__height">6'4"</td>
                        <td class="team-roster-table__weight">225 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Marinaton State</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">07</td>
                        <td class="team-roster-table__name">Scott Murdoch</td>
                        <td class="team-roster-table__position">Wide Receiver</td>
                        <td class="team-roster-table__age">20</td>
                        <td class="team-roster-table__height">6'4"</td>
                        <td class="team-roster-table__weight">235 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Shelldow Institute</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">10</td>
                        <td class="team-roster-table__name">Nick Rodgers</td>
                        <td class="team-roster-table__position">Wide Receiver</td>
                        <td class="team-roster-table__age">19</td>
                        <td class="team-roster-table__height">6'2"</td>
                        <td class="team-roster-table__weight">225 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">29</td>
                        <td class="team-roster-table__name">Mark Stevens</td>
                        <td class="team-roster-table__position">Wide Receiver</td>
                        <td class="team-roster-table__age">18</td>
                        <td class="team-roster-table__height">6'0"</td>
                        <td class="team-roster-table__weight">250 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Shelldow Institute</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">56</td>
                        <td class="team-roster-table__name">Jake Summer</td>
                        <td class="team-roster-table__position">Running Back</td>
                        <td class="team-roster-table__age">20</td>
                        <td class="team-roster-table__height">5'11"</td>
                        <td class="team-roster-table__weight">220 lbs</td>
                        <td class="team-roster-table__status text-danger">Injured</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">21</td>
                        <td class="team-roster-table__name">Michael Maximoff</td>
                        <td class="team-roster-table__position">Left Tackle</td>
                        <td class="team-roster-table__age">18</td>
                        <td class="team-roster-table__height">6'0"</td>
                        <td class="team-roster-table__weight">195 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">19</td>
                        <td class="team-roster-table__name">Chris Greyson</td>
                        <td class="team-roster-table__position">Left Guard</td>
                        <td class="team-roster-table__age">20</td>
                        <td class="team-roster-table__height">5'8"</td>
                        <td class="team-roster-table__weight">195 lbs</td>
                        <td class="team-roster-table__status text-danger">Suspended</td>
                        <td class="team-roster-table__college">Marination State</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">22</td>
                        <td class="team-roster-table__name">Dave Marinara</td>
                        <td class="team-roster-table__position">Center</td>
                        <td class="team-roster-table__age">20</td>
                        <td class="team-roster-table__height">5'10"</td>
                        <td class="team-roster-table__weight">205 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">74</td>
                        <td class="team-roster-table__name">Nicholas Grissom</td>
                        <td class="team-roster-table__position">Right Guard</td>
                        <td class="team-roster-table__age">19</td>
                        <td class="team-roster-table__height">6'3"</td>
                        <td class="team-roster-table__weight">255 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Marination State</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">44</td>
                        <td class="team-roster-table__name">Luke Scarred</td>
                        <td class="team-roster-table__position">Tight End</td>
                        <td class="team-roster-table__age">19</td>
                        <td class="team-roster-table__height">5'11"</td>
                        <td class="team-roster-table__weight">190 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Shelldow Institute</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">31</td>
                        <td class="team-roster-table__name">Mark Taylor</td>
                        <td class="team-roster-table__position">Running Back</td>
                        <td class="team-roster-table__age">18</td>
                        <td class="team-roster-table__height">6'2"</td>
                        <td class="team-roster-table__weight">200 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <th colspan="8" class="team-roster-table__header">Defense</th>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">54</td>
                        <td class="team-roster-table__name">Christopher Dax</td>
                        <td class="team-roster-table__position">Left Defensive End</td>
                        <td class="team-roster-table__age">18</td>
                        <td class="team-roster-table__height">6'4"</td>
                        <td class="team-roster-table__weight">225 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Marination State</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">68</td>
                        <td class="team-roster-table__name">Malcolm Rowe</td>
                        <td class="team-roster-table__position">Defensive Tackle</td>
                        <td class="team-roster-table__age">20</td>
                        <td class="team-roster-table__height">6'4"</td>
                        <td class="team-roster-table__weight">235 lbs</td>
                        <td class="team-roster-table__status text-danger">Injured</td>
                        <td class="team-roster-table__college">Shelldow Institute</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">91</td>
                        <td class="team-roster-table__name">Alex Summers</td>
                        <td class="team-roster-table__position">Defensive Tackle</td>
                        <td class="team-roster-table__age">18</td>
                        <td class="team-roster-table__height">6'2"</td>
                        <td class="team-roster-table__weight">225 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">44</td>
                        <td class="team-roster-table__name">Charly Howlett</td>
                        <td class="team-roster-table__position">Right Defensive End</td>
                        <td class="team-roster-table__age">18</td>
                        <td class="team-roster-table__height">6'0"</td>
                        <td class="team-roster-table__weight">250 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Shelldow Institute</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">62</td>
                        <td class="team-roster-table__name">Remy Lebeau</td>
                        <td class="team-roster-table__position">Linebacker</td>
                        <td class="team-roster-table__age">21</td>
                        <td class="team-roster-table__height">5'11"</td>
                        <td class="team-roster-table__weight">220 lbs</td>
                        <td class="team-roster-table__status text-danger">Suspended</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">95</td>
                        <td class="team-roster-table__name">Eric McTaggert</td>
                        <td class="team-roster-table__position">Linebacker</td>
                        <td class="team-roster-table__age">18</td>
                        <td class="team-roster-table__height">6'0"</td>
                        <td class="team-roster-table__weight">195 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">59</td>
                        <td class="team-roster-table__name">Patrick McCoy</td>
                        <td class="team-roster-table__position">Right Cornerback</td>
                        <td class="team-roster-table__age">20</td>
                        <td class="team-roster-table__height">5'8"</td>
                        <td class="team-roster-table__weight">195 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Marination State</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">86</td>
                        <td class="team-roster-table__name">Brandon J. Stark</td>
                        <td class="team-roster-table__position">Left Cornerback</td>
                        <td class="team-roster-table__age">21</td>
                        <td class="team-roster-table__height">5'10"</td>
                        <td class="team-roster-table__weight">205 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">27</td>
                        <td class="team-roster-table__name">Vincent Lothbrok</td>
                        <td class="team-roster-table__position">Safety</td>
                        <td class="team-roster-table__age">19</td>
                        <td class="team-roster-table__height">6'3"</td>
                        <td class="team-roster-table__weight">255 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Marination State</td>
                      </tr>
                      <tr>
                        <th colspan="8" class="team-roster-table__header">Special Teams</th>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">03</td>
                        <td class="team-roster-table__name">Patrick Lensher</td>
                        <td class="team-roster-table__position">Placekicker</td>
                        <td class="team-roster-table__age">18</td>
                        <td class="team-roster-table__height">6'4"</td>
                        <td class="team-roster-table__weight">225 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Marination State</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">62</td>
                        <td class="team-roster-table__name">Ian Stewar</td>
                        <td class="team-roster-table__position">Punter</td>
                        <td class="team-roster-table__age">20</td>
                        <td class="team-roster-table__height">6'4"</td>
                        <td class="team-roster-table__weight">235 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Shelldow Institute</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">75</td>
                        <td class="team-roster-table__name">Robert Payne</td>
                        <td class="team-roster-table__position">Long Snapper</td>
                        <td class="team-roster-table__age">18</td>
                        <td class="team-roster-table__height">6'2"</td>
                        <td class="team-roster-table__weight">225 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <th colspan="8" class="team-roster-table__header">Coach</th>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">CH</td>
                        <td class="team-roster-table__name">Tony Rodgers</td>
                        <td class="team-roster-table__position">Team Coach</td>
                        <td class="team-roster-table__age">48</td>
                        <td class="team-roster-table__height">-</td>
                        <td class="team-roster-table__weight">-</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Shelldow Institute</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- Team Roster: Table / End -->

          <!-- Featured Player -->
          <div class="col-md-4">

            <!-- Widget: Featured Player -->
            <aside class="widget card widget--sidebar widget-player widget-player--football">
              <div class="widget__content card__content">
                <div class="widget-player__ribbon">
                  <i class="fa fa-star"></i> Featured Player
                </div>
                <figure class="widget-player__photo">
                  <img src="assets/images/football/samples/widget-featured-player.png" alt="">
                </figure>
                <header class="widget-player__header clearfix">
                  <div class="widget-player__number">28</div>
                  <h4 class="widget-player__name">
                    <span class="widget-player__first-name">Steven</span>
                    <span class="widget-player__last-name">Masterson</span>
                  </h4>
                </header>
                <div class="widget-player__content">
                  <div class="widget-player__content-inner">

                    <div class="widget-player__stat widget-player__goals">
                      <div class="widget-player__stat-number widget-player__stat-number--lg">QB</div>
                      <h6 class="widget-player__stat-label">POS</h6>
                    </div>
                    <div class="widget-player__stat widget-player__shots">
                      <div class="widget-player__stat-number">98.7</div>
                      <h6 class="widget-player__stat-label">RAT</h6>
                    </div>
                    <div class="widget-player__stat widget-player__assists">
                      <div class="widget-player__stat-number">845</div>
                      <h6 class="widget-player__stat-label">YDS</h6>
                    </div>
                    <div class="widget-player__stat widget-player__games">
                      <div class="widget-player__stat-number">16</div>
                      <h6 class="widget-player__stat-label">TD</h6>
                    </div>
                  </div>

                  <div class="widget-player__content-alt">
                    <!-- Progress: Shot Accuracy -->
                    <div class="progress-stats">
                      <div class="progress__label">PASS ACC
                        <span class="progress__number">94%</span>
                      </div>
                      <div class="progress progress--battery">
                        <div class="progress__bar progress__bar--secondary progress__bar-width-90" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <!-- Progress: Shot Accuracy / End -->

                    <!-- Progress: Pass Accuracy -->
                    <div class="progress-stats">
                      <div class="progress__label">RECV ACC
                        <span class="progress__number">72%</span>
                      </div>
                      <div class="progress progress--battery">
                        <div class="progress__bar progress__bar--secondary progress__bar-width-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <!-- Progress: Pass Accuracy / End -->
                  </div>
                </div>

              </div>
            </aside>
            <!-- Widget: Featured Player / End -->


            <!-- Widget: Roster Changelog -->
            <aside class="widget card widget--sidebar widget-newslog">
              <div class="widget__title card__header">
                <h4>Roster Changelog</h4>
              </div>
              <div class="widget__content card__content">
                <ul class="newslog">
                  <li class="newslog__item newslog__item--join">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Chris Greyson</strong>, a new <strong>Left Guard</strong> from New York City has joined the team!.</div>
                      <time class="newslog__date" datetime="2016-08-24">August 24th, 2016</time>
                    </div>
                  </li>
                  <li class="newslog__item newslog__item--join">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Nicholas Grissom</strong>, a new <strong>Right Guard</strong> from Washington has joined the team!.</div>
                      <time class="newslog__date" datetime="2016-09-17">August 17th, 2016</time>
                    </div>
                  </li>
                  <li class="newslog__item newslog__item--exit">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Tom Baratheon</strong> left the team after 4 years in the club and his new house are the <strong>Draconians</strong>.</div>
                      <time class="newslog__date" datetime="2016-03-30">March 30th, 2016</time>
                    </div>
                  </li>
                  <li class="newslog__item newslog__item--join">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Malcolm Rowe</strong>, a new <strong>Defensive Tackle</strong> from Austin has joined the team!.</div>
                      <time class="newslog__date" datetime="2016-03-24">March 24th, 2016</time>
                    </div>
                  </li>
                  <li class="newslog__item newslog__item--join">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Remy Lebeau</strong>, a new <strong>Linebacker</strong> from Portland has joined the team!.</div>
                      <time class="newslog__date" datetime="2016-03-17">March 17th, 2016</time>
                    </div>
                  </li>
                  <li class="newslog__item newslog__item--join">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Patrick McCoy</strong>, a new <strong>Right Cornerback</strong> from New York City has joined the team!.</div>
                      <time class="newslog__date" datetime="2016-03-14">March 14th, 2016</time>
                    </div>
                  </li>
                  <li class="newslog__item newslog__item--join">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Vincent Lothbrok</strong>, a new <strong>Safety</strong> from New Jersey has joined the team!.</div>
                      <time class="newslog__date" datetime="2015-12-26">December 26th, 2015</time>
                    </div>
                  </li>
                  <li class="newslog__item newslog__item--exit">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Max Stanfield</strong> left the team after 1 year in the club and his new house are the <strong>Sharks</strong>.</div>
                      <time class="newslog__date" datetime="2015-12-17">December 17th, 2015</time>
                    </div>
                  </li>
                  <li class="newslog__item newslog__item--exit">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Daniel Storm</strong> left the team after 2 years in the club and his new house are the <strong>L.A. Pirates</strong>.</div>
                      <time class="newslog__date" datetime="2015-12-11">December 11th, 2015</time>
                    </div>
                  </li>
                  <li class="newslog__item newslog__item--join">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Christopher Dax</strong>, a new <strong>Left Defensive End</strong> from Malibu has joined the team!</div>
                      <time class="newslog__date" datetime="2015-12-02">December 2nd, 2015</time>
                    </div>
                  </li>
                  <li class="newslog__item newslog__item--join">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Robert Payne</strong>, a new <strong>Long Snapper</strong> from Washington has joined the team!</div>
                      <time class="newslog__date" datetime="2015-11-17">November 17th, 2015</time>
                    </div>
                  </li>
                </ul>
              </div>
            </aside>
            <!-- Widget: Roster Changelog / End -->


          </div>
          <!-- Featured Player / End -->
        </div>

      </div>
    </div>

    <!-- Content / End -->

    {% endblock content %}
