{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{league.name}}
{% endblock title %}

{% block content %}
<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="page-heading__title">{{league.name}} <span class="highlight">League</span></h1>
        <ol class="page-heading__breadcrumb breadcrumb">
          <li><a href="{% url "articles:index" 1 %}">Home</a></li>
          <li><a href="{% url "stats:leaguePage" league.pk league.name|slugify %}">{{league.name}}</a></li>

        </ol>
      </div>
    </div>
    <br><br>

    {% if fixtures|length > 0 %}
    <div class="row">
      <div class="match-today-features">
        <div class="col-md-4 col-md-12 col-xs-12">
          <div class="match-left">
            <div class="today-team-img teamsname">
              <a href="#"><img src="{{fixtures.0.home_team.logo.url}}" width="65" height="63" alt=""></a>
            </div>
            <div class="today-team-name teamsname">
              <h1>{{fixtures.0.home_team}}</h1>

            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-12 col-xs-12">
          <div class="team-vs-team">
            <h1>VS</h1>
          </div>
        </div>
        <div class="col-md-4 col-md-12 col-xs-12">
          <div class="match-right">
            <div class="today-team-name teamsname">
              <h1>{{fixtures.0.away_team}}</h1>
            </div>
            <div class="today-team-img teamsname">
              <a href="#"><img src="{{fixtures.0.away_team.logo.url}}" width="65" height="63" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="nex-match">
          <h2>Next Match: <span>({{fixtures.0.date_of_match}})</span></h2>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i>Location: {{fixtures.0.match_location}}</p>

        </div>
      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="match-today-features">
        <div class="col-md-12 col-md-12 col-xs-12">
          <div >
            <h1 style="text-align: center;color: white"><b>No Upcoming Match.</b></h1>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>


<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <div class="tab-area">
        <!-- Nav tabs -->

        <ul class="nav nav-tabs nav-justified " role="tablist">
          <li  role="presentation" class="active"><a href="#fixtures" aria-controls="fixtures" role="tab" data-toggle="tab">Schedule</a></li>
          <li  role="presentation"><a href="#results" aria-controls="results" role="tab" data-toggle="tab">Results</a></li>
          <li  role="presentation"><a href="#points" aria-controls="teams" role="tab" data-toggle="tab">Points Table</a></li>
          <li  role="presentation"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">Top Scorers</a></li>
          <li  role="presentation"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">Top Assists</a></li>
          <li  role="presentation"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">Bookings</a></li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="fixtures">
            <div class="site-content">
              <div class="container">
                <div class="card card--has-table">
                  <div class="card__header">
                    <h4>Schedule</h4>
                  </div>
                  <div class="card__content">
                    <div class="table-responsive">
                      <table class="table table-hover team-schedule team-schedule--full">
                        <thead>
                          <tr>
                            <th class="team-schedule__date">Date</th>
                            <th class="team-schedule__versus">Versus</th>
                            <th class="team-schedule__status">Status</th>
                            <th class="team-schedule__compet">Competition</th>
                            <th class="team-schedule__venue">Venue</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for each in fixtures %}
                          <tr>
                            <td class="team-schedule__date">{{each.date_of_match}}</td>
                            <td class="team-schedule__versus">
                              <div class="team-meta">
                                <figure class="team-meta__logo">
                                  <img src="{{each.away_team.logo.url}}" alt="image">
                                </figure>
                                <div class="team-meta__info">
                                  <h6 class="team-meta__name">{{each.away_team}}</h6>
                                </div>
                              </div>
                            </td>
                            <td class="team-schedule__status">Home</td>
                            <td class="team-schedule__compet">{{each.season.competiton}}</td>
                            <td class="team-schedule__venue">{{each.match_location}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane " id="results">
            <div class="site-content">
              <div class="container">
                <div class="card card--has-table">
                  <div class="card__header">
                    <h4>Results</h4>
                  </div>
                  <div class="card__content">
                    <div class="table-responsive">
                      <table class="table table-hover team-schedule team-schedule--full">
                        <thead>
                          <tr>
                            <th class="team-schedule__date">Date</th>
                            <th class="team-schedule__versus">Versus</th>
                            <th class="team-schedule__status">Status</th>
                            <th class="team-schedule__compet">Competition</th>
                            <th class="team-schedule__venue">Venue</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for each in results %}
                          <tr>
                            <td class="team-schedule__date">{{each.date_of_match}}</td>
                            <td class="team-schedule__versus">
                              <div class="team-meta">
                                <figure class="team-meta__logo">

                                  <img src="{{each.away_team.logo.url}}" alt="image">
                                </figure>
                                <div class="team-meta__info">
                                  <h6 class="team-meta__name">{{each.away_team}}</h6>
                                </div>
                              </div>
                            </td>
                            <td class="team-schedule__status">Home</td>
                            <td class="team-schedule__compet">{{each.season.competiton}}</td>
                            <td class="team-schedule__venue">{{each.match_location}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="points">
            <div class="site-content">
              <div class="container">
                <div class="card card--has-table">
                  <div class="card__header">
                    <h4>Points</h4>
                  </div>
                  <div class="card__content">
                    <div class="table-responsive">
                      <table class="table table-hover team-schedule team-schedule--full">
                        <thead>
                          <tr>
                            <th class="team-schedule__team">Team</th>
                            <th class="team-schedule__won">Won</th>
                            <th class="team-schedule__draw">Draw</th>
                            <th class="team-schedule__lost">Lost</th>
                            <th class="team-schedule__for">For</th>
                            <th class="team-schedule__against">Against</th>
                            <th class="team-schedule__goal_diff">Goal Diff.</th>
                            <th class="team-schedule__points">Points</th>

                          </tr>
                        </thead>
                        <tbody>
                          {% for each in teamPoint %}
                          <tr>
                            <td class="team-schedule__team">
                              <div class="team-meta">
                                <figure class="team-meta__logo">
                                  <img src="{{each.team.logo.url}}" alt="image">
                                </figure>
                                <div class="team-meta__info">
                                  <h6 class="team-meta__name">{{each.team.name}}</h6>
                                </div>
                              </div>
                            </td>

                            <td class="team-schedule_won">{{each.wins}}</td>
                            <td class="team-schedule_draw">{{each.draws}}</td>
                            <td class="team-schedule_lost">{{each.lose}}</td>
                            <td class="team-schedule_for">{{each.goal_for}}</td>
                            <td class="team-schedule_against">{{each.goal_against}}</td>
                            <td class="team-schedule_goal_diff">{{each.goal_diff}}</td>
                            <td class="team-schedule_points">{{each.points}}</td>

                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            </div

          </div>

        </div>
      </div>
    </div>
  </div>




  {% endblock content %}
