{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{team.name}} Schedule
{% endblock title %}

{% block content %}

  <!-- Page Heading
  ================================================== -->
  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <h1 class="page-heading__title">{{team.name}} <span class="highlight">Schedule</span></h1>
          <ol class="page-heading__breadcrumb breadcrumb">
            <li><a href="{% url "articles:index" 1 %}">Home</a></li>
            <li><a href="{% url "stats:team-page" team.pk team.name|slugify %}">{{team.name}}</a></li>
            <li class="active">Schedule</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Pages Filter -->
  <nav class="content-filter">
    <div class="container">
      <a href="#" class="content-filter__toggle"></a>
      <ul class="content-filter__list">
        <li class="content-filter__item "><a href="{% url "stats:team-page" team.pk team.name|slugify %}" class="content-filter__link"><small>The Team</small>Overview</a></li>
        <li class="content-filter__item "><a href="{% url "stats:team-roster" team.pk team.name|slugify %}" class="content-filter__link"><small>The Team</small>Roster</a></li>
        <li class="content-filter__item "><a href="_football_team-standings.html" class="content-filter__link"><small>The Team</small>Standings</a></li>
        <li class="content-filter__item "><a href="{% url "stats:team-result" team.pk team.name|slugify %}" class="content-filter__link"><small>The Team</small>Latest Results</a></li>
        <li class="content-filter__item content-filter__item--active"><a href="{% url "stats:team-schedule" team.pk team.name|slugify %}" class="content-filter__link"><small>The Team</small>Schedule</a></li>
      </ul>
    </div>
  </nav>
  <!-- Team Pages Filter / End -->



    <!-- Content
    ================================================== -->
    <div class="site-content">
      <div class="container">

        <!-- Schedule & Tickets -->
        <div class="card card--has-table">
          <div class="card__header">
            <h4>Schedule</h4>
          </div>
          <div class="card__content">
            <div class="table-responsive">
              <table class="table table-hover team-schedule team-schedule--full">
                <thead>
                  <tr>
                    <th class="team-schedule__date">Date</th>
                    <th class="team-schedule__versus">Versus</th>
                    <th class="team-schedule__status">Status</th>
                    <th class="team-schedule__compet">Competition</th>
                    <th class="team-schedule__venue">Venue</th>
                  </tr>
                </thead>
                <tbody>
                  {% for each in home_matches %}
                  <tr>
                    <td class="team-schedule__date">{{each.date_of_match}}</td>
                    <td class="team-schedule__versus">
                      <div class="team-meta">
                        <figure class="team-meta__logo">

                          <img src="{{each.away_team.logo.url}}" alt="image">
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">{{each.away_team}}</h6>
                        </div>
                      </div>
                    </td>
                    <td class="team-schedule__status">Home</td>
                    <td class="team-schedule__compet">{{each.season.competiton}}</td>
                    <td class="team-schedule__venue">{{each.match_location}}</td>
                  </tr>
                  {% endfor %}

                  {% for each in away_matches %}
                  <tr>
                    <td class="team-schedule__date">{{each.date_of_match}}</td>
                    <td class="team-schedule__versus">
                      <div class="team-meta">
                        <figure class="team-meta__logo">

                          <img src="{{each.home_team.logo.url}}" alt="image">
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">{{each.home_team}}</h6>
                        </div>
                      </div>
                    </td>
                    <td class="team-schedule__status">Away</td>
                    <td class="team-schedule__compet">{{each.season.competiton}}</td>
                    <td class="team-schedule__venue">{{each.match_location}}</td>
                  </tr>
                  {% endfor %}



                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
    {% endblock content %}
