{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{team.name}}
{% endblock title %}

{% block content %}

    <!-- Page Heading
    ================================================== -->
    <div class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="page-heading__title">{{team.name}} <span class="highlight">Overview</span></h1>
            <ol class="page-heading__breadcrumb breadcrumb">
              <li><a href="{% url "articles:index" 1 %}">Home</a></li>
              <li><a href="{% url "stats:team-page" team.pk team.name|slugify %}">{{team.name}}</a></li>
              <li class="active">Overview</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Pages Filter -->
    <nav class="content-filter">
      <div class="container">
        <a href="#" class="content-filter__toggle"></a>
        <ul class="content-filter__list">
          <li class="content-filter__item content-filter__item--active"><a href="{% url "stats:team-page" team.pk team.name|slugify %}" class="content-filter__link"><small>The Team</small>Overview</a></li>
          <li class="content-filter__item "><a href="{% url "stats:team-roster" team.pk team.name|slugify %}" class="content-filter__link"><small>The Team</small>Roster</a></li>
          <li class="content-filter__item "><a href="_football_team-standings.html" class="content-filter__link"><small>The Team</small>Standings</a></li>
          <li class="content-filter__item "><a href="{% url "stats:team-result" team.pk team.name|slugify %}" class="content-filter__link"><small>The Team</small>Latest Results</a></li>
          <li class="content-filter__item "><a href="{% url "stats:team-schedule" team.pk team.name|slugify %}" class="content-filter__link"><small>The Team</small>Schedule</a></li>
        </ul>
      </div>
    </nav>
    <!-- Team Pages Filter / End -->


    <!-- Content
    ================================================== -->
    <div class="site-content">
      <div class="container">

        <div class="row">

          <!-- Content -->
          <div class="content col-md-8">

            <!-- Game Scoreboard -->
            <div class="card">
              <header class="card__header card__header--has-btn">
                <h4>Game Scoreboard</h4>
                <a href="#" class="btn btn-default btn-xs card-header__button">Check previous Results</a>
              </header>
              <div class="card__content">

                <!-- Game Result -->
                <div class="game-result">
                  <section class="game-result__section pt-0">
                    <header class="game-result__header game-result__header--alt">
                      <span class="game-result__league">West League 2017 - Final Score</span>
                      <h3 class="game-result__title">Madison Cube Garden - <span class="highlight">Kickoff 9:00pm</span></h3>
                      <time class="game-result__date" datetime="2017-03-17">Sunday, October 17</time>
                    </header>
                    <div class="game-result__content">

                      <!-- 1st Team -->
                      <div class="game-result__team game-result__team--first">
                        <figure class="game-result__team-logo">
                          <img src="assets/images/football/logos/alchemists-59x72.png" alt="">
                        </figure>
                        <div class="game-result__team-info">
                          <h5 class="game-result__team-name">The Alchemists</h5>
                          <div class="game-result__team-desc">4-1, 2-0, away</div>
                        </div>
                      </div>
                      <!-- 1st Team / End -->

                      <div class="game-result__score-wrap">
                        <div class="game-result__score game-result__score--lg">
                          <span class="game-result__score-result game-result__score-result--winner">33</span> <span class="game-result__score-dash">-</span> <span class="game-result__score-result game-result__score-result--loser">13</span>
                        </div>
                      </div>

                      <!-- 2nd Team -->
                      <div class="game-result__team game-result__team--second">
                        <figure class="game-result__team-logo">
                          <img src="assets/images/football/logos/clover-71x62.png" alt="">
                        </figure>
                        <div class="game-result__team-info">
                          <h5 class="game-result__team-name">Lucky Clovers</h5>
                          <div class="game-result__team-desc">0-5, 0-2, Home</div>
                        </div>
                      </div>
                      <!-- 2nd Team / End -->
                    </div>
                  </section>

                  <section class="game-result__stats game-result__section">
                    <div class="row">
                      <div class="col-xs-12 col-md-6 col-md-push-3 game-result__stats-scoreboard">
                        <div class="game-result__table-stats">
                          <div class="table-responsive">
                            <table class="table table__cell-center table-wrap-bordered table-thead-color">
                              <thead>
                                <tr>
                                  <th>Scoreboard</th>
                                  <th>1</th>
                                  <th>2</th>
                                  <th>3</th>
                                  <th>4</th>
                                  <th>T</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th>Alchemists</th>
                                  <td>16</td>
                                  <td>7</td>
                                  <td>7</td>
                                  <td>3</td>
                                  <td>33</td>
                                </tr>
                                <tr>
                                  <th>Lucky Clovers</th>
                                  <td>7</td>
                                  <td>0</td>
                                  <td>0</td>
                                  <td>6</td>
                                  <td>13</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-md-3 col-md-pull-6 game-result__stats-team-1">

                        <div class="spacer-xs"></div>

                        <!-- Progress: Total Yards -->
                        <div class="progress-stats">
                          <div class="progress__label">T.YDS</div>
                          <div class="progress progress--battery">
                            <div class="progress__bar progress__bar-width-90" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress__number">501</div>
                        </div>
                        <!-- Progress: Total Yards / End -->

                        <!-- Progress: 1st Downs -->
                        <div class="progress-stats">
                          <div class="progress__label">1DWS</div>
                          <div class="progress progress--battery">
                            <div class="progress__bar progress__bar-width-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress__number">17</div>
                        </div>
                        <!-- Progress: 1st Downs / End -->

                        <!-- Progress: Turnovers -->
                        <div class="progress-stats">
                          <div class="progress__label">TRVS</div>
                          <div class="progress progress--battery">
                            <div class="progress__bar progress__bar-width-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress__number">2</div>
                        </div>
                        <!-- Progress: Turnovers / End -->

                      </div>
                      <div class="col-xs-6 col-md-3 game-result__stats-team-2">

                        <div class="spacer-xs"></div>

                        <!-- Progress: Total Yards -->
                        <div class="progress-stats">
                          <div class="progress__label">T.YDS</div>
                          <div class="progress progress--battery">
                            <div class="progress__bar progress__bar--success progress__bar-width-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress__number">428</div>
                        </div>
                        <!-- Progress: Total Yards / End -->

                        <!-- Progress: Rebounds -->
                        <div class="progress-stats">
                          <div class="progress__label">1DWS</div>
                          <div class="progress progress--battery">
                            <div class="progress__bar progress__bar--success progress__bar-width-80" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress__number">24</div>
                        </div>
                        <!-- Progress: Rebounds / End -->

                        <!-- Progress: Steals -->
                        <div class="progress-stats">
                          <div class="progress__label">TRVS</div>
                          <div class="progress progress--battery">
                            <div class="progress__bar progress__bar--success progress__bar-width-30" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress__number">1</div>
                        </div>
                        <!-- Progress: Steals / End -->
                      </div>
                    </div>
                  </section>

                  <!-- Ball Posession -->
                  <section class="game-result__section">
                    <header class="game-result__subheader card__subheader">
                      <h5 class="game-result__subtitle">Ball Posession</h5>
                    </header>
                    <div class="game-result__content">

                      <div class="spacer-sm"></div>

                      <!-- Progress: Ball Posession -->
                      <div class="progress-double-wrapper progress-double-wrapper--fullwidth">
                        <div class="progress-inner-holder">
                          <div class="progress__digit progress__digit--left progress__digit--highlight">64%</div>
                          <div class="progress progress--battery">
                            <div class="progress__bar progress__bar-width-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress__bar progress__bar--success progress__bar-width-40" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress__digit progress__digit--right progress__digit--highlight">36%</div>
                        </div>
                      </div>
                      <!-- Progress: Ball Posession / End -->

                    </div>
                  </section>
                  <!-- Ball Posession / End -->


                  <!-- Additional Stats -->
                  <section class="game-result__section">
                    <header class="game-result__subheader card__subheader">
                      <h5 class="game-result__subtitle">Additional Stats</h5>
                    </header>
                    <div class="game-result__content game-result__content--visible mb-0">

                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-xs-4">
                              <div class="circular">
                                <div class="circular__bar" data-percent="88">
                                  <span class="circular__percents circular__percents--lg">28<small class="circular__label">C.Passes</small></span>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-4">
                              <div class="circular">
                                <div class="circular__bar" data-percent="90">
                                  <span class="circular__percents circular__percents--lg">45<small class="circular__label">Rush.Att</small></span>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-4">
                              <div class="circular">
                                <div class="circular__bar" data-percent="60">
                                  <span class="circular__percents circular__percents--lg">3<small class="circular__label">M.Redz</small></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="spacer"></div>
                          <div class="row">
                            <div class="col-xs-4">
                              <div class="circular">
                                <div class="circular__bar" data-percent="60" data-bar-color="#aaf20e">
                                  <span class="circular__percents circular__percents--lg">20<small class="circular__label">C.Passes</small></span>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-4">
                              <div class="circular">
                                <div class="circular__bar" data-percent="75" data-bar-color="#aaf20e">
                                  <span class="circular__percents circular__percents--lg">22<small class="circular__label">Rush.Att</small></span>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-4">
                              <div class="circular">
                                <div class="circular__bar" data-percent="88" data-bar-color="#aaf20e">
                                  <span class="circular__percents circular__percents--lg">2<small class="circular__label">M.Redz</small></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">

                          <div class="game-result__table-additional-stats">
                            <div class="table-responsive">
                              <table class="table table--no-border">
                                <thead>
                                  <tr>
                                    <th>Matchup</th>
                                    <th>ALC</th>
                                    <th>CLOV</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th>Total Plays</th>
                                    <td>77</td>
                                    <td>56</td>
                                  </tr>
                                  <tr>
                                    <th>Total Drives</th>
                                    <td>12</td>
                                    <td>13</td>
                                  </tr>
                                  <tr>
                                    <th>Passing</th>
                                    <td>403</td>
                                    <td>235</td>
                                  </tr>
                                  <tr>
                                    <th>Rushing</th>
                                    <td>98</td>
                                    <td>27</td>
                                  </tr>
                                  <tr>
                                    <th>Penalties</th>
                                    <td>5-61</td>
                                    <td>5-35</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                  </section>
                  <!-- Additional Stats / End -->

                </div>
                <!-- Game Result / End -->

              </div>
            </div>
            <!-- Game Scoreboard / End -->


            <!-- Team Roster: Table -->
            <div class="card card--has-table">
              <div class="card__header card__header--has-btn">
                <h4>Main Roster</h4>
                <a href="_football_team-roster.html" class="btn btn-default btn-xs card-header__button">See Complete Roster</a>
              </div>
              <div class="card__content">
                <div class="table-responsive">
                  <table class="table table--lg team-roster-table">
                    <thead>
                      <tr>
                        <th class="team-roster-table__number">NBR</th>
                        <th class="team-roster-table__name">Player Name</th>
                        <th class="team-roster-table__position">Position</th>
                        <th class="team-roster-table__age">Age</th>
                        <th class="team-roster-table__height">Height</th>
                        <th class="team-roster-table__weight">Weight</th>
                        <th class="team-roster-table__status">Status</th>
                        <th class="team-roster-table__college">College</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="team-roster-table__number">28</td>
                        <td class="team-roster-table__name">Steven Masterson</td>
                        <td class="team-roster-table__position">Quarterback</td>
                        <td class="team-roster-table__age">18</td>
                        <td class="team-roster-table__height">6'4"</td>
                        <td class="team-roster-table__weight">225 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Marinaton State</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">07</td>
                        <td class="team-roster-table__name">Scott Murdoch</td>
                        <td class="team-roster-table__position">Wide Receiver</td>
                        <td class="team-roster-table__age">20</td>
                        <td class="team-roster-table__height">6'4"</td>
                        <td class="team-roster-table__weight">235 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Shelldow Institute</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">10</td>
                        <td class="team-roster-table__name">Nick Rodgers</td>
                        <td class="team-roster-table__position">Wide Receiver</td>
                        <td class="team-roster-table__age">19</td>
                        <td class="team-roster-table__height">6'2"</td>
                        <td class="team-roster-table__weight">225 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">29</td>
                        <td class="team-roster-table__name">Mark Stevens</td>
                        <td class="team-roster-table__position">Wide Receiver</td>
                        <td class="team-roster-table__age">18</td>
                        <td class="team-roster-table__height">6'0"</td>
                        <td class="team-roster-table__weight">250 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Shelldow Institute</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">56</td>
                        <td class="team-roster-table__name">Jake Summer</td>
                        <td class="team-roster-table__position">Running Back</td>
                        <td class="team-roster-table__age">20</td>
                        <td class="team-roster-table__height">5'11"</td>
                        <td class="team-roster-table__weight">220 lbs</td>
                        <td class="team-roster-table__status text-danger">Injured</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">21</td>
                        <td class="team-roster-table__name">Michael Maximoff</td>
                        <td class="team-roster-table__position">Left Tackle</td>
                        <td class="team-roster-table__age">18</td>
                        <td class="team-roster-table__height">6'0"</td>
                        <td class="team-roster-table__weight">195 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">19</td>
                        <td class="team-roster-table__name">Chris Greyson</td>
                        <td class="team-roster-table__position">Left Guard</td>
                        <td class="team-roster-table__age">20</td>
                        <td class="team-roster-table__height">5'8"</td>
                        <td class="team-roster-table__weight">195 lbs</td>
                        <td class="team-roster-table__status text-danger">Suspended</td>
                        <td class="team-roster-table__college">Marination State</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">22</td>
                        <td class="team-roster-table__name">Dave Marinara</td>
                        <td class="team-roster-table__position">Center</td>
                        <td class="team-roster-table__age">20</td>
                        <td class="team-roster-table__height">5'10"</td>
                        <td class="team-roster-table__weight">205 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">74</td>
                        <td class="team-roster-table__name">Nicholas Grissom</td>
                        <td class="team-roster-table__position">Right Guard</td>
                        <td class="team-roster-table__age">19</td>
                        <td class="team-roster-table__height">6'3"</td>
                        <td class="team-roster-table__weight">255 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Marination State</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">44</td>
                        <td class="team-roster-table__name">Luke Scarred</td>
                        <td class="team-roster-table__position">Tight End</td>
                        <td class="team-roster-table__age">19</td>
                        <td class="team-roster-table__height">5'11"</td>
                        <td class="team-roster-table__weight">190 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Shelldow Institute</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">31</td>
                        <td class="team-roster-table__name">Mark Taylor</td>
                        <td class="team-roster-table__position">Running Back</td>
                        <td class="team-roster-table__age">18</td>
                        <td class="team-roster-table__height">6'2"</td>
                        <td class="team-roster-table__weight">200 lbs</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">California College</td>
                      </tr>
                      <tr>
                        <td class="team-roster-table__number">CH</td>
                        <td class="team-roster-table__name">Tony Rodgers</td>
                        <td class="team-roster-table__position">Team Coach</td>
                        <td class="team-roster-table__age">48</td>
                        <td class="team-roster-table__height">-</td>
                        <td class="team-roster-table__weight">-</td>
                        <td class="team-roster-table__status text-success">Active</td>
                        <td class="team-roster-table__college">Shelldow Institute</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Team Roster: Table / End -->

            <div class="row">

              <div class="col-md-6">

                <!-- Widget: Team Leaders -->
                <aside class="widget widget--sidebar card card--has-table widget-leaders">
                  <div class="widget__title card__header card__header--has-btn">
                    <h4>Team Leaders</h4>
                    <a href="_football_team-standings.html" class="btn btn-default btn-xs card-header__button">See All Stats</a>
                  </div>
                  <div class="widget__content card__content">

                    <!-- Tabs -->
                    <ul class="nav nav-tabs nav-tabs--clean" role="tablist">
                      <li role="presentation" class="active"><a href="#leaders-defense" aria-controls="leaders-defense" role="tab" data-toggle="tab">Defense</a></li>
                      <li role="presentation"><a href="#leaders-offense" aria-controls="leaders-offense" role="tab" data-toggle="tab">Offense</a></li>
                    </ul>

                    <!-- Tab Panes -->
                    <div class="tab-content">

                      <div role="tabpanel" class="tab-pane fade in active" id="leaders-defense">
                        <!-- Leader: Offense -->
                        <div class="table-responsive">
                          <table class="table team-leader">
                            <tbody>

                              <!-- Leader: Passing Yards -->
                              <tr>
                                <th class="team-leader__type">Passing Yards</th>
                                <th class="team-leader__total">T</th>
                                <th class="team-leader__td">TD</th>
                                <th class="team-leader__avg">QBR</th>
                              </tr>
                              <tr>
                                <td class="team-leader__player">
                                  <div class="team-leader__player-info">
                                    <figure class="team-leader__player-img">
                                      <img src="assets/images/football/samples/stats_player_01.jpg" alt="">
                                    </figure>
                                    <div class="team-leader__player-inner">
                                      <h5 class="team-leader__player-name">Steven Masterson</h5>
                                      <span class="team-leader__player-position">Quarterback</span>
                                    </div>
                                  </div>
                                </td>
                                <td class="team-leader__total">2201</td>
                                <td class="team-leader__td">18</td>
                                <td class="team-leader__avg">85.6</td>
                              </tr>
                              <!-- Leader: Passing Yards / End -->

                              <!-- Leader: Rushing Yards -->
                              <tr>
                                <th class="team-leader__type">Rushing Yards</th>
                                <th class="team-leader__total">T</th>
                                <th class="team-leader__td">TD</th>
                                <th class="team-leader__avg">CAR</th>
                              </tr>
                              <tr>
                                <td class="team-leader__player">
                                  <div class="team-leader__player-info">
                                    <figure class="team-leader__player-img">
                                      <img src="assets/images/football/samples/stats_player_02.jpg" alt="">
                                    </figure>
                                    <div class="team-leader__player-inner">
                                      <h5 class="team-leader__player-name">Jake Summer</h5>
                                      <span class="team-leader__player-position">Running Back</span>
                                    </div>
                                  </div>
                                </td>
                                <td class="team-leader__total">869</td>
                                <td class="team-leader__td">12</td>
                                <td class="team-leader__avg">212</td>
                              </tr>
                              <!-- Leader: Rushing Yards / End -->

                              <!-- Leader: Receiving Yards -->
                              <tr>
                                <th class="team-leader__type">Receiving Yards</th>
                                <th class="team-leader__total">T</th>
                                <th class="team-leader__td">TD</th>
                                <th class="team-leader__avg">REC</th>
                              </tr>
                              <tr>
                                <td class="team-leader__player">
                                  <div class="team-leader__player-info">
                                    <figure class="team-leader__player-img">
                                      <img src="assets/images/football/samples/stats_player_03.jpg" alt="">
                                    </figure>
                                    <div class="team-leader__player-inner">
                                      <h5 class="team-leader__player-name">Scott Murdoch</h5>
                                      <span class="team-leader__player-position">Wide Receiver</span>
                                    </div>
                                  </div>
                                </td>
                                <td class="team-leader__total">617</td>
                                <td class="team-leader__td">2</td>
                                <td class="team-leader__avg">64</td>
                              </tr>
                              <!-- Leader: Receiving Yards / End -->

                            </tbody>
                          </table>
                        </div>
                        <!-- Leader: Offense / End -->
                      </div>

                      <div role="tabpanel" class="tab-pane fade" id="leaders-offense">
                        <!-- Leader: Offense -->
                        <div class="table-responsive">
                          <table class="table team-leader">
                            <tbody>

                              <!-- Leader: Rushing Yards -->
                              <tr>
                                <th class="team-leader__type">Rushing Yards</th>
                                <th class="team-leader__total">T</th>
                                <th class="team-leader__td">TD</th>
                                <th class="team-leader__avg">CAR</th>
                              </tr>
                              <tr>
                                <td class="team-leader__player">
                                  <div class="team-leader__player-info">
                                    <figure class="team-leader__player-img">
                                      <img src="assets/images/football/samples/stats_player_02.jpg" alt="">
                                    </figure>
                                    <div class="team-leader__player-inner">
                                      <h5 class="team-leader__player-name">Jake Summer</h5>
                                      <span class="team-leader__player-position">Running Back</span>
                                    </div>
                                  </div>
                                </td>
                                <td class="team-leader__total">869</td>
                                <td class="team-leader__td">12</td>
                                <td class="team-leader__avg">212</td>
                              </tr>
                              <!-- Leader: Rushing Yards / End -->

                              <!-- Leader: Passing Yards -->
                              <tr>
                                <th class="team-leader__type">Passing Yards</th>
                                <th class="team-leader__total">T</th>
                                <th class="team-leader__td">TD</th>
                                <th class="team-leader__avg">QBR</th>
                              </tr>
                              <tr>
                                <td class="team-leader__player">
                                  <div class="team-leader__player-info">
                                    <figure class="team-leader__player-img">
                                      <img src="assets/images/football/samples/stats_player_01.jpg" alt="">
                                    </figure>
                                    <div class="team-leader__player-inner">
                                      <h5 class="team-leader__player-name">Steven Masterson</h5>
                                      <span class="team-leader__player-position">Quarterback</span>
                                    </div>
                                  </div>
                                </td>
                                <td class="team-leader__total">2201</td>
                                <td class="team-leader__td">18</td>
                                <td class="team-leader__avg">85.6</td>
                              </tr>
                              <!-- Leader: Passing Yards / End -->

                              <!-- Leader: Receiving Yards -->
                              <tr>
                                <th class="team-leader__type">Receiving Yards</th>
                                <th class="team-leader__total">T</th>
                                <th class="team-leader__td">TD</th>
                                <th class="team-leader__avg">REC</th>
                              </tr>
                              <tr>
                                <td class="team-leader__player">
                                  <div class="team-leader__player-info">
                                    <figure class="team-leader__player-img">
                                      <img src="assets/images/football/samples/stats_player_03.jpg" alt="">
                                    </figure>
                                    <div class="team-leader__player-inner">
                                      <h5 class="team-leader__player-name">Scott Murdoch</h5>
                                      <span class="team-leader__player-position">Wide Receiver</span>
                                    </div>
                                  </div>
                                </td>
                                <td class="team-leader__total">617</td>
                                <td class="team-leader__td">2</td>
                                <td class="team-leader__avg">64</td>
                              </tr>
                              <!-- Leader: Receiving Yards / End -->

                            </tbody>
                          </table>
                        </div>
                        <!-- Leader: Offense / End -->
                      </div>
                    </div>
                    <!-- Tab Panes / End -->


                  </div>
                </aside>
                <!-- Widget: Team Leaders / End -->


              </div>
              <div class="col-md-6">

                <!-- Widget: Awards -->
                <aside class="widget card widget--sidebar widget-awards">
                  <div class="widget__title card__header">
                    <h4>Our Awards</h4>
                  </div>
                  <div class="widget__content card__content pt-0">
                    <ul class="awards-filter">
                      <li class="awards-filter__item"><a href="#" class="awards-filter__link awards-filter__link--reset awards-filter__link--active">All</a></li>
                      <li class="awards-filter__item"><a href="#" class="awards-filter__link" data-category="award--2016">2016</a></li>
                      <li class="awards-filter__item"><a href="#" class="awards-filter__link" data-category="award--2015">2015</a></li>
                      <li class="awards-filter__item"><a href="#" class="awards-filter__link" data-category="award--2014">2014</a></li>
                      <li class="awards-filter__item"><a href="#" class="awards-filter__link" data-category="award--2013">2013</a></li>
                    </ul>
                    <div class="awards awards--slider">
                      <div class="awards__item award--2016">
                        <figure class="awards__figure awards__figure--space">
                          <img src="assets/images/football/medal.svg" alt="">
                        </figure>
                        <div class="awards__desc">
                          <h5 class="awards__name">West League Champions</h5>
                          <div class="awards__date">December 2016</div>
                          <div class="awards__stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                      </div>
                      <div class="awards__item award--2016">
                        <figure class="awards__figure awards__figure--space">
                          <img src="assets/images/football/medal.svg" alt="">
                        </figure>
                        <div class="awards__desc">
                          <h5 class="awards__name">East League Champions</h5>
                          <div class="awards__date">November 2016</div>
                          <div class="awards__stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                      </div>
                      <div class="awards__item award--2015">
                        <figure class="awards__figure awards__figure--space">
                          <img src="assets/images/football/medal.svg" alt="">
                        </figure>
                        <div class="awards__desc">
                          <h5 class="awards__name">Big League Champions</h5>
                          <div class="awards__date">December 2015</div>
                          <div class="awards__stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                      </div>
                      <div class="awards__item award--2015">
                        <figure class="awards__figure awards__figure--space">
                          <img src="assets/images/football/medal.svg" alt="">
                        </figure>
                        <div class="awards__desc">
                          <h5 class="awards__name">Big League Champions</h5>
                          <div class="awards__date">December 2015</div>
                          <div class="awards__stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                      </div>
                      <div class="awards__item award--2014">
                        <figure class="awards__figure awards__figure--space">
                          <img src="assets/images/football/medal.svg" alt="">
                        </figure>
                        <div class="awards__desc">
                          <h5 class="awards__name">Big League Champions</h5>
                          <div class="awards__date">December 2014</div>
                          <div class="awards__stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                      </div>
                      <div class="awards__item award--2013">
                        <figure class="awards__figure awards__figure--space">
                          <img src="assets/images/football/medal.svg" alt="">
                        </figure>
                        <div class="awards__desc">
                          <h5 class="awards__name">Big League Champions</h5>
                          <div class="awards__date">December 2013</div>
                          <div class="awards__stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </aside>
                <!-- Widget: Awards / End -->


              </div>
            </div>

            <!-- Schedule & Tickets -->
            <div class="card card--has-table">
              <div class="card__header card__header--has-btn">
                <h4>Games Schedule</h4>
                <a href="_football_team-schedule.html" class="btn btn-default btn-xs card-header__button">See Complete Schedule</a>
              </div>
              <div class="card__content">
                <div class="table-responsive">
                  <table class="table table-hover team-schedule">
                    <thead>
                      <tr>
                        <th class="team-schedule__date">Date</th>
                        <th class="team-schedule__versus">Versus</th>
                        <th class="team-schedule__time">Time</th>
                        <th class="team-schedule__venue">Venue</th>
                        <th class="team-schedule__tickets">Tickets</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="team-schedule__date">11/06/2016</td>
                        <td class="team-schedule__versus">
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/lucky_clovers_shield.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name">Lucky Clovers</h6>
                              <span class="team-meta__place">St. Patrick’s Institute</span>
                            </div>
                          </div>
                        </td>
                        <td class="team-schedule__time">9:00PM EST</td>
                        <td class="team-schedule__venue">Madison Cube Stadium</td>
                        <td class="team-schedule__tickets"><a href="#" class="btn btn-xs btn-default-alt btn-block">Buy Game Tickets</a></td>
                      </tr>
                      <tr>
                        <td class="team-schedule__date">11/13/2016</td>
                        <td class="team-schedule__versus">
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/red_wings_shield.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name">Red Wings</h6>
                              <span class="team-meta__place">Icarus College</span>
                            </div>
                          </div>
                        </td>
                        <td class="team-schedule__time">9:30PM EST</td>
                        <td class="team-schedule__venue">Alchemists Stadium</td>
                        <td class="team-schedule__tickets"><a href="#" class="btn btn-xs btn-default-alt btn-block">Buy Game Tickets</a></td>
                      </tr>
                      <tr>
                        <td class="team-schedule__date">11/20/2016</td>
                        <td class="team-schedule__versus">
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/draconians_shield.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name">Draconians</h6>
                              <span class="team-meta__place">Wyvern College</span>
                            </div>
                          </div>
                        </td>
                        <td class="team-schedule__time">10:00PM EST</td>
                        <td class="team-schedule__venue">Scalding Rock Stadium</td>
                        <td class="team-schedule__tickets"><a href="#" class="btn btn-xs btn-default-alt btn-block disabled">Sold Out</a></td>
                      </tr>
                      <tr>
                        <td class="team-schedule__date">11/27/2016</td>
                        <td class="team-schedule__versus">
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/aqua_keyes_shield.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name">Aqua Keyes</h6>
                              <span class="team-meta__place">Pacific Institute</span>
                            </div>
                          </div>
                        </td>
                        <td class="team-schedule__time">10:00PM EST</td>
                        <td class="team-schedule__venue">Alchemists Stadium</td>
                        <td class="team-schedule__tickets"><a href="#" class="btn btn-xs btn-default-alt btn-block">Buy Game Tickets</a></td>
                      </tr>
                      <tr>
                        <td class="team-schedule__date">12/04/2016</td>
                        <td class="team-schedule__versus">
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/icarus_wings_shield.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name">Icarus Wings</h6>
                              <span class="team-meta__place">Waxer College</span>
                            </div>
                          </div>
                        </td>
                        <td class="team-schedule__time">10:30PM EST</td>
                        <td class="team-schedule__venue">The FireStar Arena</td>
                        <td class="team-schedule__tickets"><a href="#" class="btn btn-xs btn-default-alt btn-block">Buy Game Tickets</a></td>
                      </tr>
                      <tr>
                        <td class="team-schedule__date">12/11/2016</td>
                        <td class="team-schedule__versus">
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/bloody_wave_shield.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name">Bloody Wave</h6>
                              <span class="team-meta__place">Atlantic School</span>
                            </div>
                          </div>
                        </td>
                        <td class="team-schedule__time">9:00PM EST</td>
                        <td class="team-schedule__venue">Alchemists Stadium</td>
                        <td class="team-schedule__tickets"><a href="#" class="btn btn-xs btn-default-alt btn-block">Buy Game Tickets</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Schedule & Tickets / End -->

          </div>
          <!-- Content / End -->

          <!-- Sidebar -->
          <div class="sidebar col-md-4">

            <!-- Widget: Standings -->
            <aside class="widget card widget--sidebar widget-standings">
              <div class="widget__title card__header card__header--has-btn">
                <h4>West League 2017</h4>
                <a href="_football_team-standings.html" class="btn btn-default btn-xs card-header__button">See All Stats</a>
              </div>
              <div class="widget__content card__content">
                <div class="table-responsive">
                  <table class="table table-hover table-standings">
                    <thead>
                      <tr>
                        <th>Team Positions</th>
                        <th>W</th>
                        <th>L</th>
                        <th>T</th>
                        <th>PF</th>
                        <th>PA</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/pirates_shield.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name">L.A Pirates</h6>
                              <span class="team-meta__place">Bebop Institute</span>
                            </div>
                          </div>
                        </td>
                        <td>10</td>
                        <td>1</td>
                        <td>0</td>
                        <td>316</td>
                        <td>213</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/sharks_shield.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name">Sharks</h6>
                              <span class="team-meta__place">Marine College</span>
                            </div>
                          </div>
                        </td>
                        <td>9</td>
                        <td>2</td>
                        <td>0</td>
                        <td>293</td>
                        <td>197</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/football/logos/alchemists-21x25.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name">The Alchemists</h6>
                              <span class="team-meta__place">Eric Bros School</span>
                            </div>
                          </div>
                        </td>
                        <td>8</td>
                        <td>3</td>
                        <td>0</td>
                        <td>231</td>
                        <td>213</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/ocean_kings_shield.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name">Ocean Kings</h6>
                              <span class="team-meta__place">Bay College</span>
                            </div>
                          </div>
                        </td>
                        <td>7</td>
                        <td>3</td>
                        <td>1</td>
                        <td>224</td>
                        <td>187</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/red_wings_shield.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name">Red Wings</h6>
                              <span class="team-meta__place">Icarus College</span>
                            </div>
                          </div>
                        </td>
                        <td>6</td>
                        <td>5</td>
                        <td>0</td>
                        <td>218</td>
                        <td>201</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/lucky_clovers_shield.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name">Lucky Clovers</h6>
                              <span class="team-meta__place">St. Patrick’s Institute</span>
                            </div>
                          </div>
                        </td>
                        <td>5</td>
                        <td>6</td>
                        <td>0</td>
                        <td>274</td>
                        <td>289</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/draconians_shield.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name">Draconians</h6>
                              <span class="team-meta__place">Draconians</span>
                            </div>
                          </div>
                        </td>
                        <td>3</td>
                        <td>7</td>
                        <td>1</td>
                        <td>213</td>
                        <td>245</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="team-meta">
                            <figure class="team-meta__logo">
                              <img src="assets/images/samples/logos/bloody_wave_shield.png" alt="">
                            </figure>
                            <div class="team-meta__info">
                              <h6 class="team-meta__name">Bloody Wave</h6>
                              <span class="team-meta__place">Atlantic School</span>
                            </div>
                          </div>
                        </td>
                        <td>2</td>
                        <td>9</td>
                        <td>0</td>
                        <td>178</td>
                        <td>264</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </aside>
            <!-- Widget: Standings / End -->


            <!-- Widget: Latest Results -->
            <aside class="widget card widget--sidebar widget-results">
              <div class="widget__title card__header card__header--has-btn">
                <h4>Latest Results</h4>
                <a href="#" class="btn btn-default btn-xs card-header__button">See Full Results</a>
              </div>
              <div class="widget__content card__content">
                <ul class="widget-results__list">

                  <!-- Game 1 -->
                  <li class="widget-results__item">
                    <h5 class="widget-results__title">Sunday, October 16th</h5>
                    <div class="widget-results__content">
                      <div class="widget-results__team widget-results__team--first">
                        <figure class="widget-results__team-logo">
                          <img src="assets/images/football/logos/alchemists-21x25.png" alt="">
                        </figure>
                        <div class="widget-results__team-details">
                          <h5 class="widget-results__team-name">Alchemists</h5>
                          <span class="widget-results__team-info">Eric Bros School</span>
                        </div>
                      </div>
                      <div class="widget-results__result">
                        <div class="widget-results__score">
                          <span class="widget-results__score-winner">33</span> - <span class="widget-results__score-loser">13</span>
                          <div class="widget-results__status">Home</div>
                        </div>
                      </div>
                      <div class="widget-results__team widget-results__team--second">
                        <figure class="widget-results__team-logo">
                          <img src="assets/images/samples/logos/lucky_clovers_shield.png" alt="">
                        </figure>
                        <div class="widget-results__team-details">
                          <h5 class="widget-results__team-name">Clovers</h5>
                          <span class="widget-results__team-info">St. Patrick’s Inst</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <!-- Game 1 / End -->

                  <!-- Game 2 -->
                  <li class="widget-results__item">
                    <h5 class="widget-results__title">Friday, October 7th</h5>
                    <div class="widget-results__content">
                      <div class="widget-results__team widget-results__team--first">
                        <figure class="widget-results__team-logo">
                          <img src="assets/images/samples/logos/sharks_shield.png" alt="">
                        </figure>
                        <div class="widget-results__team-details">
                          <h5 class="widget-results__team-name">Sharks</h5>
                          <span class="widget-results__team-info">Marine College</span>
                        </div>
                      </div>
                      <div class="widget-results__result">
                        <div class="widget-results__score">
                          <span class="widget-results__score-loser">16</span> - <span class="widget-results__score-winner">27</span>
                          <div class="widget-results__status">Away</div>
                        </div>
                      </div>
                      <div class="widget-results__team widget-results__team--second">
                        <figure class="widget-results__team-logo">
                          <img src="assets/images/football/logos/alchemists-21x25.png" alt="">
                        </figure>
                        <div class="widget-results__team-details">
                          <h5 class="widget-results__team-name">Alchemists</h5>
                          <span class="widget-results__team-info">Elric Bros School</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <!-- Game 2 / End -->

                  <!-- Game 3 -->
                  <li class="widget-results__item">
                    <h5 class="widget-results__title">Sunday, October 2nd</h5>
                    <div class="widget-results__content">
                      <div class="widget-results__team widget-results__team--first">
                        <figure class="widget-results__team-logo">
                          <img src="assets/images/football/logos/alchemists-21x25.png" alt="">
                        </figure>
                        <div class="widget-results__team-details">
                          <h5 class="widget-results__team-name">Alchemists</h5>
                          <span class="widget-results__team-info">Elric Bros School</span>
                        </div>
                      </div>
                      <div class="widget-results__result">
                        <div class="widget-results__score">
                          <span class="widget-results__score-loser">17</span> - <span class="widget-results__score-winner">22</span>
                          <div class="widget-results__status">Home</div>
                        </div>
                      </div>
                      <div class="widget-results__team widget-results__team--second">
                        <figure class="widget-results__team-logo">
                          <img src="assets/images/samples/logos/draconians_shield.png" alt="">
                        </figure>
                        <div class="widget-results__team-details">
                          <h5 class="widget-results__team-name">Draconians</h5>
                          <span class="widget-results__team-info">Wyvem College</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <!-- Game 3 / End -->

                  <!-- Game 4 -->
                  <li class="widget-results__item">
                    <h5 class="widget-results__title">Friday, September 23rd</h5>
                    <div class="widget-results__content">
                      <div class="widget-results__team widget-results__team--first">
                        <figure class="widget-results__team-logo">
                          <img src="assets/images/samples/logos/pirates_shield.png" alt="">
                        </figure>
                        <div class="widget-results__team-details">
                          <h5 class="widget-results__team-name">L.A. Pirates</h5>
                          <span class="widget-results__team-info">Bebop Institute</span>
                        </div>
                      </div>
                      <div class="widget-results__result">
                        <div class="widget-results__score">
                          <span class="widget-results__score-winner">41</span> - <span class="widget-results__score-loser">25</span>
                          <div class="widget-results__status">Away</div>
                        </div>
                      </div>
                      <div class="widget-results__team widget-results__team--second">
                        <figure class="widget-results__team-logo">
                          <img src="assets/images/football/logos/alchemists-21x25.png" alt="">
                        </figure>
                        <div class="widget-results__team-details">
                          <h5 class="widget-results__team-name">Alchemists</h5>
                          <span class="widget-results__team-info">Eric Bros School</span>
                        </div>
                      </div>
                    </div>
                  </li>
                  <!-- Game 4 / End -->



                </ul>
              </div>
            </aside>
            <!-- Widget: Latest Results / End -->


            <!-- Widget: Team Stats -->
            <aside class="widget widget--sidebar card card--has-table widget-team-stats">
              <div class="widget__title card__header">
                <h4>Team Statistics</h4>
              </div>
              <div class="widget__content card__content">
                <ul class="team-stats-box team-stats-box--cell-bg">
                  <li class="team-stats__item team-stats__item--clean">
                    <div class="team-stats__value">270.4</div>
                    <div class="team-stats__label">Passing Yards</div>
                    <div class="team-stats__circular team-stats__circular--plus circular">
                      <div class="circular__bar" data-percent="80" data-bar-color="#3ffeca">
                        <span class="circular__percents"><i class="fa fa-plus"></i></span>
                      </div>
                      <span class="circular__label">35.6</span>
                    </div>
                  </li>
                  <li class="team-stats__item team-stats__item--clean">
                    <div class="team-stats__value">115.8</div>
                    <div class="team-stats__label">Rushing Yards</div>
                    <div class="team-stats__circular team-stats__circular--minus circular">
                      <div class="circular__bar" data-percent="40">
                        <span class="circular__percents"><i class="fa fa-minus"></i></span>
                      </div>
                      <span class="circular__label">17.2</span>
                    </div>
                  </li>
                  <li class="team-stats__item team-stats__item--clean">
                    <div class="team-stats__value">26.5</div>
                    <div class="team-stats__label">Points For</div>
                    <div class="team-stats__circular team-stats__circular--minus circular">
                      <div class="circular__bar" data-percent="40">
                        <span class="circular__percents"><i class="fa fa-minus"></i></span>
                      </div>
                      <span class="circular__label">4.7</span>
                    </div>
                  </li>
                  <li class="team-stats__item team-stats__item--clean">
                    <div class="team-stats__value">17.9</div>
                    <div class="team-stats__label">Points Against</div>
                    <div class="team-stats__circular team-stats__circular--plus circular">
                      <div class="circular__bar" data-percent="80" data-bar-color="#3ffeca">
                        <span class="circular__percents"><i class="fa fa-plus"></i></span>
                      </div>
                      <span class="circular__label">2.3</span>
                    </div>
                  </li>
                </ul>
              </div>
            </aside>
            <!-- Widget: Team Stats / End -->


            <!-- Widget: Team Newslog -->
            <aside class="widget card widget--sidebar widget-newslog">
              <div class="widget__title card__header">
                <h4>Team Newslog</h4>
              </div>
              <div class="widget__content card__content">
                <ul class="newslog">
                  <li class="newslog__item newslog__item--injury">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Jake Summer</strong> has a <strong>composed fracture</strong> and he’s gonna be out of the field for <strong>4 months</strong>.</div>
                      <time class="newslog__date" datetime="2016-09-18">September 18, 2016</time>
                    </div>
                  </li>
                  <li class="newslog__item newslog__item--join">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Chris Greyson</strong>, a new <strong>Left Guard</strong> from New York City has joined the team!.</div>
                      <time class="newslog__date" datetime="2016-09-06">August 24, 2016</time>
                    </div>
                  </li>
                  <li class="newslog__item newslog__item--join">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Nicholas Grissom</strong>, a new <strong>Right Guard</strong> from Washington has joined the team!</div>
                      <time class="newslog__date" datetime="2016-08-24">August 17, 2016</time>
                    </div>
                  </li>
                  <li class="newslog__item newslog__item--exit">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>Tom Baratheon</strong> left the team after 4 years in the club and his new house are the <strong>Draconians</strong>.</div>
                      <time class="newslog__date" datetime="2016-08-17">July 25, 2016</time>
                    </div>
                  </li>
                  <li class="newslog__item newslog__item--award">
                    <div class="newslog__item-inner">
                      <div class="newslog__content"><strong>The Alchemists</strong> are the new <strong>West League Champions</strong> after a difficult final against the <strong>Lucky Clovers</strong>.</div>
                      <time class="newslog__date" datetime="2016-08-12">July 20, 2016</time>
                    </div>
                  </li>
                </ul>
              </div>
            </aside>
            <!-- Widget: Team Newslog / End -->


            <!-- Widget: Progress Bars -->
            <aside class="widget card widget--sidebar">
              <div class="widget__title card__header">
                <h4>Progress Bars</h4>
              </div>
              <div class="widget__content card__content">

                <!-- Progress: Shot Accuracy -->
                <div class="progress-stats progress-stats--top-labels">
                  <div class="progress__label text-transform-normal">Aqua Gradient Progress</div>
                  <div class="progress">
                    <div class="progress__bar progress__bar--aqua-gradient progress__bar-width-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress__number">62%</div>
                </div>
                <!-- Progress: Shot Accuracy / End -->

                <!-- Progress: Shot Accuracy -->
                <div class="progress-stats progress-stats--top-labels">
                  <div class="progress__label text-transform-normal">Primary Progress</div>
                  <div class="progress">
                    <div class="progress__bar progress__bar-width-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress__number">46%</div>
                </div>
                <!-- Progress: Shot Accuracy / End -->

                <!-- Progress: Shot Accuracy -->
                <div class="progress-stats progress-stats--top-labels">
                  <div class="progress__label text-transform-normal">Secondary Progress</div>
                  <div class="progress">
                    <div class="progress__bar progress__bar--secondary progress__bar-width-80" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress__number">79%</div>
                </div>
                <!-- Progress: Shot Accuracy / End -->

                <!-- Progress: Shot Accuracy -->
                <div class="progress-stats progress-stats--top-labels">
                  <div class="progress__label text-transform-normal">Info Progress</div>
                  <div class="progress">
                    <div class="progress__bar progress__bar--info progress__bar-width-30" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="progress__number">35%</div>
                </div>
                <!-- Progress: Shot Accuracy / End -->

              </div>
            </aside>
            <!-- Widget: Progress Bars / End -->


          </div>
          <!-- Sidebar / End -->
        </div>

        <!-- Points History -->
        <div class="card">
          <div class="card__header card__header--has-legend">
            <h4>Yearly Points History</h4>
            <div id="gamesPoinstsLegendFootball" class="chart-legend"></div>
          </div>
          <div class="card__content">
            <canvas id="points-history-football" class="points-history-chart" height="95"></canvas>
          </div>
        </div>
        <!-- Points History / End -->

      </div>
    </div>

    <!-- Content / End -->

    {% endblock content %}
